<?php
if ($form->get('id')->getValue()) {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action,
        'id' => $form->get('id')->getValue()
    )));
} else {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action
    )));
}

?>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet grey bordered">
                <div class="portlet-body">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li>
                                <a aria-expanded="false"
                                   href="<?php echo $this->url('agencia/default', array('controller' => 'contratante', 'action' => 'formulario', 'id' => $form->get('id')->getValue())); ?>">Cadastros</a>
                            </li>
                            <li class="active">
                                <a aria-expanded="false" href="#" class="active">Vendas</a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet light bordered">
                        <div class="portlet">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a aria-expanded="false"
                                           href="#">Escolha de Produto</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="portlet-body form">
                                            <!-- BEGIN FORM-->
                                            <?php echo $this->form()->openTag($form); ?>
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <?php if ($form->get('convenio')) ?>
                                                        <div class="col-md-3"
                                                             style="padding-top: 10px; margin-left: 15px; margin-right: -50px;">
                                                            <div class="form-group <?php if ($form->get('convenio')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('convenio')); ?>
                                                                <?php echo $this->formElement($form->get('convenio')); ?>
                                                                <?php echo $this->formElementErrors($form->get('convenio')); ?>
                                                            </div>
                                                        </div>
                                                        <?php if ($form->get('convenioSelect')) ?>
                                                        <div class="col-md-4">
                                                            <div class="form-group <?php if ($form->get('convenioSelect')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('convenioSelect')); ?>
                                                                <?php echo $this->formElement($form->get('convenioSelect')); ?>
                                                                <?php echo $this->formElementErrors($form->get('convenioSelect')); ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <?php if ($form->get('remocaoCorpoLocalFalecimento')) ?>
                                                        <div class="col-md-6">
                                                            <div class="form-group <?php if ($form->get('remocaoCorpoLocalFalecimento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('remocaoCorpoLocalFalecimento')); ?>
                                                                <?php echo $this->formElement($form->get('remocaoCorpoLocalFalecimento')); ?>
                                                                <?php echo $this->formElementErrors($form->get('remocaoCorpoLocalFalecimento')); ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <?php if ($form->get('localCorpoRemocao')) ?>
                                                        <div class="col-md-5">
                                                            <div class="form-group <?php if ($form->get('localCorpoRemocao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('localCorpoRemocao')); ?>
                                                                <?php echo $this->formElement($form->get('localCorpoRemocao')); ?>
                                                                <?php echo $this->formElementErrors($form->get('localCorpoRemocao')); ?>
                                                            </div>
                                                        </div>
                                                        <?php if ($form->get('enderecoCorpoRemocao')) ?>
                                                        <div class="col-md-5">
                                                            <div class="form-group <?php if ($form->get('enderecoCorpoRemocao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('enderecoCorpoRemocao')); ?>
                                                                <?php echo $this->formElement($form->get('enderecoCorpoRemocao')); ?>
                                                                <?php echo $this->formElementErrors($form->get('enderecoCorpoRemocao')); ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr/>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <?php if ($form->get('remocaoMembroLocalFalecimento')) ?>
                                                        <div class="col-md-6">
                                                            <div class="form-group <?php if ($form->get('remocaoMembroLocalFalecimento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('remocaoMembroLocalFalecimento')); ?>
                                                                <?php echo $this->formElement($form->get('remocaoMembroLocalFalecimento')); ?>
                                                                <?php echo $this->formElementErrors($form->get('remocaoMembroLocalFalecimento')); ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <?php if ($form->get('localMembroRemocao')) ?>
                                                        <div class="col-md-5">
                                                            <div class="form-group <?php if ($form->get('localMembroRemocao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('localMembroRemocao')); ?>
                                                                <?php echo $this->formElement($form->get('localMembroRemocao')); ?>
                                                                <?php echo $this->formElementErrors($form->get('localMembroRemocao')); ?>
                                                            </div>
                                                        </div>
                                                        <?php if ($form->get('enderecoMembroRemocao')) ?>
                                                        <div class="col-md-5">
                                                            <div class="form-group <?php if ($form->get('enderecoMembroRemocao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('enderecoMembroRemocao')); ?>
                                                                <?php echo $this->formElement($form->get('enderecoMembroRemocao')); ?>
                                                                <?php echo $this->formElementErrors($form->get('enderecoMembroRemocao')); ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <fieldset>
                                                    <legend>Produtos</legend>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-6">
                                                                Itens
                                                            </div>
                                                            <div class="col-md-1">
                                                                QTD
                                                            </div>
                                                            <div class="col-md-1">
                                                                UDM
                                                            </div>
                                                            <div class="col-md-2">
                                                                Valor
                                                            </div>
                                                            <div class="col-md-1">
                                                                Disponivel
                                                            </div>
                                                            <hr/>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="urnaField">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('urna')) ?>
                                                            <div class="col-md-6">
                                                                <div class="form-group <?php if ($form->get('urna')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('urna')); ?>
                                                                    <?php echo $this->formElement($form->get('urna')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('urna')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeUrna')) ?>
                                                            <div class="col-md-1" style="padding-top: 24px;">
                                                                <div class="form-group <?php if ($form->get('quantidadeUrna')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('quantidadeUrna')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('quantidadeUrna')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('unidadeMedidaUrna')) ?>
                                                                <div class="col-md-1" style="padding-top: 30px;">
                                                                    <span id="unidadeMedidaUrna"
                                                                          name="unidadeMedidaUrna"></span>
                                                                </div>
                                                            <?php if ($form->get('valorConjuntoUrna')) ?>
                                                            <div class="col-md-2" style="padding-top: 24px;">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoUrna')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoUrna')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoUrna')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('disponivelUrna')) ?>
                                                            <div class="col-md-1" style="padding-top: 30px;">
                                                                <span id="disponivelUrna" name="disponivelUrna"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="revestimentoField">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('revestimento')) ?>
                                                            <div class="col-md-6">
                                                                <div class="form-group <?php if ($form->get('revestimento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('revestimento')); ?>
                                                                    <?php echo $this->formElement($form->get('revestimento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('revestimento')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeRevestimento')) ?>
                                                            <div class="col-md-1" style="padding-top: 24px;">
                                                                <div class="form-group <?php if ($form->get('quantidadeRevestimento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('quantidadeRevestimento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('quantidadeRevestimento')); ?>
                                                                </div>
                                                            </div>

                                                            <?php if ($form->get('unidadeMedidaRevestimento')) ?>
                                                                <div class="col-md-1" style="padding-top: 30px;">
                                                                    <span id="unidadeMedidaRevestimento"
                                                                          name="unidadeMedidaRevestimento"></span>
                                                                </div>
                                                            <?php if ($form->get('valorConjuntoRevestimento')) ?>
                                                            <div class="col-md-2" style="padding-top: 24px;">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoRevestimento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoRevestimento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoRevestimento')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('disponivelRevestimento')) ?>
                                                            <div class="col-md-1" style="padding-top: 30px;">
                                                                <span id="disponivelRevestimento"
                                                                      name="disponivelRevestimento"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="enfeiteField">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('enfeite')) ?>
                                                            <div class="col-md-6">
                                                                <div class="form-group <?php if ($form->get('enfeite')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('enfeite')); ?>
                                                                    <?php echo $this->formElement($form->get('enfeite')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('enfeite')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="produtosEnfeiteField">

                                                        </div>
                                                    </div>
                                                    <div class="row" id="veuField">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('veu')) ?>
                                                            <div class="col-md-6">
                                                                <div class="form-group <?php if ($form->get('veu')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('veu')); ?>
                                                                    <?php echo $this->formElement($form->get('veu')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('veu')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeVeu')) ?>
                                                            <div class="col-md-1" style="padding-top: 24px;">
                                                                <div class="form-group <?php if ($form->get('quantidadeVeu')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('quantidadeVeu')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('quantidadeVeu')); ?>
                                                                </div>
                                                            </div>

                                                            <?php if ($form->get('unidadeMedidaVeu')) ?>
                                                                <div class="col-md-1" style="padding-top: 30px;">
                                                                    <span id="unidadeMedidaVeu"
                                                                          name="unidadeMedidaVeu"></span>
                                                                </div>
                                                            <?php if ($form->get('valorConjuntoVeu')) ?>
                                                            <div class="col-md-2" style="padding-top: 24px;">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoVeu')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoVeu')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoVeu')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('disponivelVeu')) ?>
                                                            <div class="col-md-1" style="padding-top: 30px;">
                                                                <span id="disponivelVeu"
                                                                      name="disponivelVeu"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="iluminacaoField">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('iluminacao')) ?>
                                                            <div class="col-md-6">
                                                                <div class="form-group <?php if ($form->get('iluminacao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('iluminacao')); ?>
                                                                    <?php echo $this->formElement($form->get('iluminacao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('iluminacao')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeIluminacao')) ?>
                                                            <div class="col-md-1" style="padding-top: 24px;">
                                                                <div class="form-group <?php if ($form->get('quantidadeIluminacao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('quantidadeIluminacao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('quantidadeIluminacao')); ?>
                                                                </div>
                                                            </div>

                                                            <?php if ($form->get('unidadeMedidaIluminacao')) ?>
                                                                <div class="col-md-1" style="padding-top: 30px;">
                                                                    <span id="unidadeMedidaIluminacao"
                                                                          name="unidadeMedidaIluminacao"></span>
                                                                </div>
                                                            <?php if ($form->get('valorConjuntoIluminacao')) ?>
                                                            <div class="col-md-2" style="padding-top: 24px;">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoIluminacao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoIluminacao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoIluminacao')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('disponivelIluminacao')) ?>
                                                            <div class="col-md-1" style="padding-top: 30px;">
                                                                <span id="disponivelIluminacao"
                                                                      name="disponivelIluminacao"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                                <br/>
                                                <fieldset>
                                                    <legend>Taxas e Serviços</legend>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-8">
                                                                Serviço
                                                            </div>
                                                            <div class="col-md-2">
                                                                QTD
                                                            </div>
                                                            <div class="col-md-2">
                                                                Valor do Conj.
                                                            </div>
                                                            <hr/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('tipoSepultamento')) ?>
                                                            <div class="col-md-6">
                                                                <div class="form-group <?php if ($form->get('tipoSepultamento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('tipoSepultamento')); ?>
                                                                    <?php echo $this->formElement($form->get('tipoSepultamento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('tipoSepultamento')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeSepultamento')) ?>
                                                                <div class="col-md-1 col-md-offset-2" style="padding-top: 30px;">
                                                                <span id="quantidadeSepultamento"
                                                                      name="quantidadeSepultamento"></span>
                                                                </div>
                                                            <?php if ($form->get('valorConjuntoSepultamento')) ?>
                                                            <div class="col-md-2 col-md-offset-1" style="padding-top: 24px;">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoSepultamento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoSepultamento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoSepultamento')); ?>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-1">
                                                                <h4>Transporte:</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="transporteCarretoField">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('transporteCarreto')) ?>
                                                            <div class="col-md-6 col-md-offset-2">
                                                                <div class="form-group <?php if ($form->get('transporteCarreto')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('transporteCarreto')); ?>
                                                                    <?php echo $this->formLabel($form->get('transporteCarreto')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('transporteCarreto')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeTransporteCarreto')) ?>
                                                            <div class="col-md-1">
                                                                <div class="form-group <?php if ($form->get('quantidadeTransporteCarreto')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('quantidadeTransporteCarreto')); ?>
                                                                    <?php echo $this->formLabel($form->get('quantidadeTransporteCarreto')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('quantidadeTransporteCarreto')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('valorConjuntoTransporteCarreto')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoTransporteCarreto')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoTransporteCarreto')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoTransporteCarreto')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="transporteEnterroField">
                                                        <div class="col-md-12">
                                                            <div class="col-md-6 col-md-offset-2">
                                                                <?php if ($form->get('transporteEnterro')) ?>
                                                                <div class="form-group <?php if ($form->get('transporteEnterro')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('transporteEnterro')); ?>
                                                                    <?php echo $this->formLabel($form->get('transporteEnterro')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('transporteEnterro')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeTransporteEnterro')) ?>
                                                            <div class="col-md-1">
                                                                <div class="form-group <?php if ($form->get('quantidadeTransporteEnterro')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('quantidadeTransporteEnterro')); ?>
                                                                    <?php echo $this->formLabel($form->get('quantidadeTransporteEnterro')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('quantidadeTransporteEnterro')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('valorConjuntoTransporteEnterro')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoTransporteEnterro')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoTransporteEnterro')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoTransporteEnterro')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="transporteRemocaoField">
                                                        <div class="col-md-12">
                                                            <div class="col-md-6 col-md-offset-2">
                                                                <?php if ($form->get('transporteRemocao')) ?>
                                                                <div class="form-group <?php if ($form->get('transporteRemocao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('transporteRemocao')); ?>
                                                                    <?php echo $this->formLabel($form->get('transporteRemocao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('transporteRemocao')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeTransporteRemocao')) ?>
                                                            <div class="col-md-1">
                                                                <div class="form-group <?php if ($form->get('quantidadeTransporteRemocao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('quantidadeTransporteRemocao')); ?>
                                                                    <?php echo $this->formLabel($form->get('quantidadeTransporteRemocao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('quantidadeTransporteRemocao')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('valorConjuntoTransporteRemocao')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoTransporteRemocao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoTransporteRemocao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoTransporteRemocao')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="transporteCremacaoField">
                                                        <div class="col-md-12">
                                                            <div class="col-md-6 col-md-offset-2">
                                                                <?php if ($form->get('transporteCremacao')) ?>
                                                                <div class="form-group <?php if ($form->get('transporteCremacao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('transporteCremacao')); ?>
                                                                    <?php echo $this->formLabel($form->get('transporteCremacao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('transporteCremacao')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeTransporteCremacao')) ?>
                                                            <div class="col-md-1">
                                                                <div class="form-group <?php if ($form->get('quantidadeTransporteCremacao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('quantidadeTransporteCremacao')); ?>
                                                                    <?php echo $this->formLabel($form->get('quantidadeTransporteCremacao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('quantidadeTransporteCremacao')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('valorConjuntoTransporteCremacao')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoTransporteCremacao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoTransporteCremacao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoTransporteCremacao')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="transporteViagemField">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('transporteViagem')) ?>
                                                            <div class="col-md-6 col-md-offset-2">
                                                                <div class="form-group <?php if ($form->get('transporteViagem')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('transporteViagem')); ?>
                                                                    <?php echo $this->formLabel($form->get('transporteViagem')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('transporteViagem')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeTransporteViagem')) ?>
                                                            <div class="col-md-1">
                                                                <div class="form-group <?php if ($form->get('quantidadeTransporteViagem')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('quantidadeTransporteViagem')); ?>
                                                                    <?php echo $this->formLabel($form->get('quantidadeTransporteViagem')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('quantidadeTransporteViagem')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('valorConjuntoTransporteViagem')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoTransporteViagem')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoTransporteViagem')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoTransporteViagem')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-1">
                                                                <h4>Taxas:</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('taxaSepultamento')) ?>
                                                            <div class="col-md-3 col-md-offset-2"
                                                                 id="taxaSepultamentoField">
                                                                <div class="form-group <?php if ($form->get('taxaSepultamento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('taxaSepultamento')); ?>
                                                                    <?php echo $this->formLabel($form->get('taxaSepultamento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('taxaSepultamento')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('taxaEssaParamento')) ?>
                                                            <div class="col-md-6" id="taxaEssaParamentoField">
                                                                <div class="form-group <?php if ($form->get('taxaEssaParamento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('taxaEssaParamento')); ?>
                                                                    <?php echo $this->formLabel($form->get('taxaEssaParamento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('taxaEssaParamento')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('taxaVelorio')) ?>
                                                            <div class="col-md-3 col-md-offset-2" id="taxaVelorioField">
                                                                <div class="form-group <?php if ($form->get('taxaVelorio')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('taxaVelorio')); ?>
                                                                    <?php echo $this->formLabel($form->get('taxaVelorio')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('taxaVelorio')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('taxaCremacao')) ?>
                                                            <div class="col-md-6" id="taxaCremacaoField">
                                                                <div class="form-group <?php if ($form->get('taxaCremacao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('taxaCremacao')); ?>
                                                                    <?php echo $this->formLabel($form->get('taxaCremacao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('taxaCremacao')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('taxaCondolencia')) ?>
                                                            <div class="col-md-3 col-md-offset-2"
                                                                 id="taxaCondolenciaField">
                                                                <div class="form-group <?php if ($form->get('taxaCondolencia')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('taxaCondolencia')); ?>
                                                                    <?php echo $this->formLabel($form->get('taxaCondolencia')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('taxaCondolencia')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('taxaViagem')) ?>
                                                            <div class="col-md-6" id="taxaViagemField">
                                                                <div class="form-group <?php if ($form->get('taxaViagem')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('taxaViagem')); ?>
                                                                    <?php echo $this->formLabel($form->get('taxaViagem')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('taxaViagem')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row" id="camaraFriaField">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('taxaCamaraFria')) ?>
                                                            <div class="col-md-6 col-md-offset-2">
                                                                <div class="form-group <?php if ($form->get('taxaCamaraFria')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('taxaCamaraFria')); ?>
                                                                    <?php echo $this->formLabel($form->get('taxaCamaraFria')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('taxaCamaraFria')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('quantidadeTaxaCamaraFria')) ?>
                                                            <div class="col-md-1">
                                                                <div class="form-group <?php if ($form->get('quantidadeTaxaCamaraFria')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('quantidadeTaxaCamaraFria')); ?>
                                                                    <?php echo $this->formLabel($form->get('quantidadeTaxaCamaraFria')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('quantidadeTaxaCamaraFria')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('valorConjuntoTaxaCamaraFria')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('valorConjuntoTaxaCamaraFria')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('valorConjuntoTaxaCamaraFria')); ?>
                                                                    <?php echo $this->formLabel($form->get('valorConjuntoTaxaCamaraFria')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('valorConjuntoTaxaCamaraFria')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="outrosField">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('taxaOutros')) ?>
                                                            <div class="col-md-2 col-md-offset-2">
                                                                <div class="form-group <?php if ($form->get('taxaOutros')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formElement($form->get('taxaOutros')); ?>
                                                                    <?php echo $this->formLabel($form->get('taxaOutros')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('taxaOutros')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('creditarDebitar')) ?>
                                                            <div id="creditarDebitarField">
                                                                <div class="col-md-6">
                                                                    <div class="form-group <?php if ($form->get('creditarDebitar')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formElement($form->get('creditarDebitar')); ?>
                                                                        <?php echo $this->formLabel($form->get('creditarDebitar')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('creditarDebitar')); ?>
                                                                    </div>
                                                                </div>
                                                                <?php if ($form->get('valorConjuntoOutros')) ?>
                                                                <div class="col-md-2">
                                                                    <div class="form-group <?php if ($form->get('valorConjuntoOutros')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formElement($form->get('valorConjuntoOutros')); ?>
                                                                        <?php echo $this->formLabel($form->get('valorConjuntoOutros')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('valorConjuntoOutros')); ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <hr/>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <?php if ($form->get('valorTotal')) ?>
                                                        <div class="col-md-2 col-md-offset-7">
                                                            <?php echo $this->formLabel($form->get('valorTotal')); ?>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group <?php if ($form->get('valorTotal')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formElement($form->get('valorTotal')); ?>
                                                                <?php echo $this->formElementErrors($form->get('valorTotal')); ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <?php if ($form->get('observacoes')) ?>
                                                        <div class="col-md-12">
                                                            <div class="form-group <?php if ($form->get('observacoes')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('observacoes')); ?>
                                                                <?php echo $this->formElement($form->get('observacoes')); ?>
                                                                <?php echo $this->formElementErrors($form->get('observacoes')); ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <?php echo $this->formElement($form->get('id')); ?>
                                                <?php echo $this->formElement($form->get('hdnRobinHoodProduto')); ?>
                                                <?php echo $this->formElement($form->get('hdnRobinHoodServico')); ?>
                                                <div class="form-actions text-center">
                                                    <?php echo $this->formElement($form->get('enviar')); ?>
                                                    <a class="btn btn-default default" role="button"
                                                       href="/agencia/contratacao">Cancelar</a>
                                                </div>
                                                <?php echo $this->form()->closeTag($form); ?>
                                                <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>