<div class="page-head">
    <div class="page-title">
        <h1>Descarte
            <small>lista de recebidos</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <?php if ($this->Acl()->verifyPermission('descarte', 'index')): ?>
                        <li class="">
                            <a aria-expanded="false"
                               href="<?php echo $this->url('estoque/default', array('controller' => 'descarte', 'action' => 'index')); ?>">Solicitação</a>
                        </li>
                    <?php endif; ?>
                    <li class="active">
                        <a aria-expanded="false" href="<?php echo $this->url('estoque/default', array('controller' => 'recebimentoDescarte', 'action' => 'index')); ?>">Recebimento</a>
                    </li>
                </ul>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                           id="recebimentosDescarte" style="width: 100%">
                        <thead>
                        <tr>
                            <td colspan="5" style="border: none;">
                                <div style="float: left; margin-left: 15px; ">
                                    <?php
                                    $form = $this->formFilter;
                                    $form->prepare();
                                    echo $this->form()->openTag($form);
                                    echo $this->formElement($form->get('situacao'));
                                    echo $this->form()->closeTag();
                                    ?>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%"><input type="checkbox" class="group-checkable"/></th>
                            <th width="10%" align="center">Código</th>
                            <th width="15%" align="center">Usuário</th>
                            <th width="15%" align="center">Valor Total</th>
                            <th width="15%" align="center">Situação</th>
                            <th width="20%" align="center">Data da Solicitação</th>
                            <th width="25%" align="center">Data do Descarte</th>
                            <th width="2%" align="center">Ação</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

