<?php
//print_r($aba);die;


?>

<div class="tabbable-line">
    <ul class="nav nav-tabs">
      <?php foreach ($aba as $abas) :?>
      <?php if($abas['id_aba']==1): ?>
        <li class="<?php echo ($controller == 'declarante' ? 'active' : '');?>">
            <a aria-expanded="false" href="<?php echo $this->url('agencia/default', array('controller' => 'declarante', 'action' => 'formulario', 'id' => $contratacao->id)); ?>">Cadastro de Declarante</a>
        </li>
        <?php endif;?>  
        <?php if($abas['id_aba']==2): ?>
         <li class="<?php echo ($controller == 'contratante' ? 'active' : '');?>">
        
            <a aria-expanded="false" href="<?php echo $this->url('agencia/default', array('controller' => 'contratante', 'action' => 'formulario', 'id' => $contratacao->id)); ?>">Cadastro de Contratante</a>
        </li>
        <?php endif;?>  
        <?php if($abas['id_aba']==3): ?>
         <li class="<?php echo ($controller == 'falecido' ? 'active' : '');?>">
            <a aria-expanded="false"
               href="<?php echo $this->url('agencia/default', array('controller' => 'falecido', 'action' => 'formulario', 'id' => $contratacao->id)); ?>">Cadastro
                de Falecido</a>
        </li>
        <?php endif;?> 
        <?php if($abas['id_aba']==4): ?>
         <li class="<?php echo ($controller == 'dadosobito' ? 'active' : '');?>">
            <a aria-expanded="false"
               href="<?php echo $this->url('agencia/default', array('controller' => 'dadosobito', 'action' => 'formulario', 'id' => $contratacao->id)); ?>">Dados do Óbito</a>
        </li>
         <?php endif;?> 
         <?php if($abas['id_aba']==5): ?>
         <li class="<?php echo ($controller == 'paciente' ? 'active' : '');?>">
            <a aria-expanded="false"
               href="<?php echo $this->url('agencia/default', array('controller' => 'paciente', 'action' => 'formulario', 'id' => $contratacao->id)); ?>">Dados do Paciente</a>
        </li>
         <?php endif;?> 
         <?php if($abas['id_aba']==6): ?>
         <li class="<?php echo ($controller == 'dadosamputacao' ? 'active' : '');?>">
            <a aria-expanded="false"
              href="<?php echo $this->url('agencia/default', array('controller' => 'dadosamputacao', 'action' => 'formulario', 'id' => $contratacao->id)); ?>">Dados de Amputação</a>
        </li>
         <?php endif;?> 
        <?php if($abas['id_aba']==7): ?>
        <li class="<?php echo ($controller == 'transladoCorpo' ? 'active' : '');?>">
            <a aria-expanded="false"
              href="<?php echo $this->url('agencia/default', array('controller' => 'transladoCorpo', 'action' => 'formulario', 'id' => $contratacao->id)); ?>">Translado de Corpo</a>
        </li>
         <?php endif;?> 
        <?php if($abas['id_aba']==8): ?>
         <?php endif;?> 
        <?php if($abas['id_aba']==9): ?>
        <li class="<?php echo ($controller == 'pagamento' ? 'active' : '');?>">
            <a aria-expanded="false"
              href="<?php echo $this->url('agencia/default', array('controller' => 'pagamento', 'action' => 'formulario', 'id' => $contratacao->id)); ?>">Pagamento</a>
        </li>
         <?php endif;?> 
         <?php if($abas['id_aba']==10): ?>
            <li class="<?php echo ($controller == 'emissao' ? 'active' : '');?>">
                <a aria-expanded="false"
                  href="<?php echo $this->url('agencia/default', array('controller' => 'emissao', 'action' => 'formulario', 'id' => $contratacao->id)); ?>">Emissão de Nota</a>
            </li>
        <?php endif;?> 
         <?php if($abas['id_aba']==11): ?>
         <li class="<?php echo ($controller == 'dadosobitovelorio' ? 'active' : '');?>">
            <a aria-expanded="false"
              href="<?php echo $this->url('agencia/default', array('controller' => 'dadosobitovelorio', 'action' => 'formulario', 'id' => $contratacao->id)); ?>">Dados do Óbito e Velório</a>
        </li>
         <?php endif;?> 
         <?php if($abas['id_aba']==12): ?>
         <?php endif;?> 
        
      <?php endforeach;?>
    
      
    </ul>
</div>

