<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a aria-expanded="false" href="#">Recebimento</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <?php
                    $form = $this->form;
                    $form->setAttribute('action', $this->url($this->MyRoute(), array(
                                'controller' => $this->layout()->controller,
                                'action' => $this->layout()->action,
                                'id' => $pedidoTransferencia
                    )));
                    ?>

                    <?php echo $this->form()->openTag($form); ?>
                    <div class="tab-pane active">
                        <div class="portlet-body form">

                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('dataRecebimento')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('dataRecebimento')); ?>
                                            <?php echo $this->formElement($form->get('dataRecebimento')); ?>
                                            <?php echo $this->formElementErrors($form->get('dataRecebimento')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('nomeEntregador')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('nomeEntregador')); ?>
                                            <?php echo $this->formElement($form->get('nomeEntregador')); ?>
                                            <?php echo $this->formElementErrors($form->get('nomeEntregador')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('cpfRg')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('cpfRg')); ?>
                                            <?php echo $this->formElement($form->get('cpfRg')); ?>
                                            <?php echo $this->formElementErrors($form->get('cpfRg')); ?>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6 col-red-text" >
                                        <?php echo $this->formElementErrors($form->get('hdnErrosRecebimento')); ?>
                                    </div>
                                    <table class="table table-bordered table-hover" id="tabela-produtos" style="width: 97%; margin: 0 auto;">
                                        <thead>
                                            <tr>
                                                <th width="40%">Produto</th>
                                                <th width="30%">Preço Médio</th>
                                                <th width="25%">Quantidade</th>
                                                <th width="5%">Qtd.Recebido</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th colspan="3"><div class="pull-right">Total Produto R$:</div></th>
                                                <?php $valorTotalProdutos = 0.0;
                                                    foreach ($this->itensTransferencia as $key => $item):
                                                        $valorTotalProdutos += $item->getCustoMedio() * $item->getQtd();
                                                    endforeach; ?>
                                                <th><div class="text-right" id="totalProdutos" name="totalProdutos"><?= number_format($valorTotalProdutos, 2, ',', '.'); ?></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <?php foreach ($this->itensTransferencia as $key => $item): ?>
                                                <tr>
                                                    <td><?php echo $item->getProduto()->getNome(); ?></td>
                                                    <td>R$ <?php echo number_format($item->getCustoMedio(), 2, ',', '.'); ?></td>
                                                    <td><?php echo $item->getQtd(); ?></td>
                                                    <td>
                                                        <input type="text" name="qtdRecebida[]" value="<?php echo isset($this->qtdRecebida[$key]) ? $this->qtdRecebida[$key] : $item->getItemRecebido() ? $item->getItemRecebido()->getQtd() : 0; ?>"  class="form-control default-touchspin"/>
                                                        <input type="hidden" name="itemRecebido[]" value="<?php echo $item->getId(); ?>"  />
                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                                <br />

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group <?php if ($form->get('observacao')->getMessages()): ?> has-error <?php endif; ?>">
                                        <?php echo $this->formLabel($form->get('observacao')); ?>
                                        <?php echo $this->formElement($form->get('observacao')); ?>
                                        <?php echo $this->formElementErrors($form->get('observacao')); ?>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <?php echo $this->formElement($form->get('id')); ?>
                        <div class="form-actions left">
                            <button type="submit" class="btn blue btn-enviar" value="">Cadastrar</button>
                            <a class="btn btn-default default" role="button" href="<?php echo $this->url($this->MyRoute(), array('controller' => $this->layout()->controller)); ?>">Cancelar</a>
                        </div>


                    </div>
                    <?php echo $this->form()->closeTag(); ?>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
