<?php
if ($form->get('id')->getValue()) {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action,
        'id' => $form->get('id')->getValue()
    )));
} else {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action
    )));
}

?>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet grey bordered">
                <div class="portlet-body">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li>
                                <a aria-expanded="false" href="#">Cadastros</a>
                            </li>
                            <li class="active">
                                <a aria-expanded="false"
                                   href="<?php echo $this->url('agencia/default', array('controller' => 'produtoServico', 'action' => 'formulario', 'id' => $form->get('id')->getValue())); ?>">Venda</a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet light bordered">
                        <div class="portlet">
                            <?php print $this->render('agencia/abas/index'); ?>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="portlet-body form">
                                            <!-- BEGIN FORM-->
                                            <?php echo $this->form()->openTag($form); ?>
                                                <?php echo $this->formElement($form->get('id')); ?>
                                                <div class="form-actions text-center">
                                                    <a class="btn btn-default default" role="button"
                                                       href="/agencia/emissao/emitirnota/<?=$contratacao->id?>">Download</a>
                                                </div>
                                                <?php echo $this->form()->closeTag($form); ?>
                                                <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




