<?php
if ($form->get('id')->getValue()) {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action,
        'id' => $form->get('id')->getValue()
    )));
} else {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action
    )));
}

?>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet grey bordered">
                <div class="portlet-body">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a aria-expanded="false" href="#">Cadastros</a>
                            </li>
                            <li>
                                <a aria-expanded="false"
                                   href="<?php echo $this->url('agencia/default', array('controller' => 'produtoServico', 'action' => 'formulario', 'id' => $form->get('id')->getValue())); ?>">Venda</a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet light bordered">
                        <div class="portlet">
                            <?php print $this->render('agencia/abas/index'); ?>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="portlet-body form">
                                            <!-- BEGIN FORM-->
                                            <?php echo $this->form()->openTag($form); ?>
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <?php if ($form->get('nascimentoObito')) ?>
                                                        <div class="col-md-2">
                                                            <div class="form-group <?php if ($form->get('nascimentoObito')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('nascimentoObito')); ?>
                                                                <?php echo $this->formElement($form->get('nascimentoObito')); ?>
                                                                <?php echo $this->formElementErrors($form->get('nascimentoObito')); ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <fieldset>
                                                    <legend>Dados Pessoais</legend>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('nome')) ?>
                                                            <div class="col-md-5">
                                                                <div class="form-group <?php if ($form->get('nome')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('nome')); ?>
                                                                    <?php echo $this->formElement($form->get('nome')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('nome')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('naturalidade')) ?>
                                                            <div class="col-md-5">
                                                                <div class="form-group <?php if ($form->get('naturalidade')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('naturalidade')); ?>
                                                                    <?php echo $this->formElement($form->get('naturalidade')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('naturalidade')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('sexo')) ?>
                                                            <div class="col-md-3">
                                                                <div class="form-group <?php if ($form->get('sexo')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('sexo')); ?>
                                                                    <?php echo $this->formElement($form->get('sexo')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('sexo')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('profissao')) ?>
                                                            <div class="col-md-5 col-md-offset-2">
                                                                <div class="form-group <?php if ($form->get('profissao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('profissao')); ?>
                                                                    <?php echo $this->formElement($form->get('profissao')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('profissao')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('raca')) ?>
                                                            <div class="col-md-3">
                                                                <div class="form-group <?php if ($form->get('raca')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('raca')); ?>
                                                                    <?php echo $this->formElement($form->get('raca')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('raca')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('documento')) ?>
                                                            <div class="col-md-2 col-md-offset-2">
                                                                <div class="form-group <?php if ($form->get('documento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('documento')); ?>
                                                                    <?php echo $this->formElement($form->get('documento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('documento')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('numeroDocumento')) ?>
                                                            <div class="col-md-2">
                                                                <div class="form-group <?php if ($form->get('numeroDocumento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('numeroDocumento')); ?>
                                                                    <?php echo $this->formElement($form->get('numeroDocumento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('numeroDocumento')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('cpf')) ?>
                                                            <div class="col-md-2">
                                                                <div class="form-group <?php if ($form->get('cpf')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('cpf')); ?>
                                                                    <?php echo $this->formElement($form->get('cpf')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('cpf')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('dataNascimento')) ?>
                                                            <div class="col-md-2">
                                                                <div class="form-group <?php if ($form->get('dataNascimento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('dataNascimento')); ?>
                                                                    <?php echo $this->formElement($form->get('dataNascimento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('dataNascimento')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('idade')) ?>
                                                            <div class="col-md-1 col-md-offset-3">
                                                                <div class="form-group <?php if ($form->get('idade')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('idade')); ?>
                                                                    <?php echo $this->formElement($form->get('idade')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('idade')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('estadoCivil')) ?>
                                                            <div class="col-md-2">
                                                                <div class="form-group <?php if ($form->get('estadoCivil')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('estadoCivil')); ?>
                                                                    <?php echo $this->formElement($form->get('estadoCivil')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('estadoCivil')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </fieldset>
                                                <br/>
                                                <fieldset>
                                                    <legend>Localização</legend>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('endereco')) ?>
                                                            <div class="col-md-5">
                                                                <div class="form-group <?php if ($form->get('endereco')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('endereco')); ?>
                                                                    <?php echo $this->formElement($form->get('endereco')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('endereco')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('bairro')) ?>
                                                            <div class="col-md-3">
                                                                <div class="form-group <?php if ($form->get('bairro')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('bairro')); ?>
                                                                    <?php echo $this->formElement($form->get('bairro')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('bairro')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('numero')) ?>
                                                            <div class="col-md-2">
                                                                <div class="form-group <?php if ($form->get('numero')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('numero')); ?>
                                                                    <?php echo $this->formElement($form->get('numero')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('numero')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('estado')) ?>
                                                            <div class="col-md-4 col-md-offset-3">
                                                                <div class="form-group <?php if ($form->get('estado')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('estado')); ?>
                                                                    <?php echo $this->formElement($form->get('estado')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('estado')); ?>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('complemento')) ?>
                                                            <div class="col-md-3">
                                                                <div class="form-group <?php if ($form->get('complemento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('complemento')); ?>
                                                                    <?php echo $this->formElement($form->get('complemento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('complemento')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('cidade')) ?>
                                                            <div class="col-md-4 col-md-offset-2">
                                                                <div class="form-group <?php if ($form->get('cidade')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('cidade')); ?>
                                                                    <?php echo $this->formElement($form->get('cidade')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('cidade')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('cep')) ?>
                                                            <div class="col-md-2">
                                                                <div class="form-group <?php if ($form->get('cep')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('cep')); ?>
                                                                    <?php echo $this->formElement($form->get('cep')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('cep')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <br/>
                                                <fieldset>
                                                    <legend>Informações Adicionais</legend>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('marcaPasso')) ?>
                                                            <div class="col-md-2 ">
                                                                <div class="form-group <?php if ($form->get('marcaPasso')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('marcaPasso')); ?>
                                                                    <?php echo $this->formElement($form->get('marcaPasso')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('marcaPasso')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('reservista')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('reservista')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('reservista')); ?>
                                                                    <?php echo $this->formElement($form->get('reservista')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('reservista')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('numeroBeneficio')) ?>
                                                            <div class="col-md-3 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('numeroBeneficio')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('numeroBeneficio')); ?>
                                                                    <?php echo $this->formElement($form->get('numeroBeneficio')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('numeroBeneficio')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('eleitor')) ?>
                                                            <div class="col-md-2 ">
                                                                <div class="form-group <?php if ($form->get('eleitor')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('eleitor')); ?>
                                                                    <?php echo $this->formElement($form->get('eleitor')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('eleitor')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('inss')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('inss')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('inss')); ?>
                                                                    <?php echo $this->formElement($form->get('inss')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('inss')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('bensInventariar')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('bensInventariar')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('bensInventariar')); ?>
                                                                    <?php echo $this->formElement($form->get('bensInventariar')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('bensInventariar')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('deixaTestamento')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('deixaTestamento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('deixaTestamento')); ?>
                                                                    <?php echo $this->formElement($form->get('deixaTestamento')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('deixaTestamento')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <br/>
                                                <fieldset>
                                                    <legend>Dados dos Pais</legend>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('nomeMae')) ?>
                                                            <div class="col-md-5">
                                                                <div class="form-group <?php if ($form->get('nomeMae')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('nomeMae')); ?>
                                                                    <?php echo $this->formElement($form->get('nomeMae')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('nomeMae')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('estadoCivilMae')) ?>
                                                            <div class="col-md-3 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('estadoCivilMae')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('estadoCivilMae')); ?>
                                                                    <?php echo $this->formElement($form->get('estadoCivilMae')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('estadoCivilMae')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('idadeMae')) ?>
                                                            <div class="col-md-1">
                                                                <div class="form-group <?php if ($form->get('idadeMae')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('idadeMae')); ?>
                                                                    <?php echo $this->formElement($form->get('idadeMae')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('idadeMae')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('naturalidadeMae')) ?>
                                                            <div class="col-md-5">
                                                                <div class="form-group <?php if ($form->get('naturalidadeMae')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('naturalidadeMae')); ?>
                                                                    <?php echo $this->formElement($form->get('naturalidadeMae')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('naturalidadeMae')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('profissaoMae')) ?>
                                                            <div class="col-md-5 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('profissaoMae')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('profissaoMae')); ?>
                                                                    <?php echo $this->formElement($form->get('profissaoMae')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('profissaoMae')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('nomePai')) ?>
                                                            <div class="col-md-5">
                                                                <div class="form-group <?php if ($form->get('nomePai')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('nomePai')); ?>
                                                                    <?php echo $this->formElement($form->get('nomePai')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('nomePai')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('estadoCivilPai')) ?>
                                                            <div class="col-md-3 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('estadoCivilPai')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('estadoCivilPai')); ?>
                                                                    <?php echo $this->formElement($form->get('estadoCivilPai')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('estadoCivilPai')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('idadePai')) ?>
                                                            <div class="col-md-1">
                                                                <div class="form-group <?php if ($form->get('idadePai')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('idadePai')); ?>
                                                                    <?php echo $this->formElement($form->get('idadePai')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('idadePai')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('naturalidadePai')) ?>
                                                            <div class="col-md-5">
                                                                <div class="form-group <?php if ($form->get('naturalidadePai')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('naturalidadePai')); ?>
                                                                    <?php echo $this->formElement($form->get('naturalidadePai')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('naturalidadePai')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('profissaoPai')) ?>
                                                            <div class="col-md-5 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('profissaoPai')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('profissaoPai')); ?>
                                                                    <?php echo $this->formElement($form->get('profissaoPai')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('profissaoPai')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <br/>
                                                <hr/>
                                                <div class="row" id="deixaFilhosField">
                                                    <div class="col-md-12">
                                                        <?php if ($form->get('deixaFilhos')) ?>
                                                        <div class="col-md-3">
                                                            <div class="form-group <?php if ($form->get('deixaFilhos')->getMessages()): ?> has-error<?php endif; ?>">
                                                                <?php echo $this->formLabel($form->get('deixaFilhos')); ?>
                                                                <?php echo $this->formElement($form->get('deixaFilhos')); ?>
                                                                <?php echo $this->formElementErrors($form->get('deixaFilhos')); ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>
                                                <?php if ($form->get('cartorio')) ?>
                                                <fieldset id="certidaoNascimento">
                                                    <legend>Certidão de Nascimento</legend>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('cartorio')) ?>
                                                            <div class="col-md-4">
                                                                <div class="form-group <?php if ($form->get('cartorio')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('cartorio')); ?>
                                                                    <?php echo $this->formElement($form->get('cartorio')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('cartorio')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('cidadeCartorio')) ?>
                                                            <div class="col-md-3 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('cidadeCartorio')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('cidadeCartorio')); ?>
                                                                    <?php echo $this->formElement($form->get('cidadeCartorio')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('cidadeCartorio')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('estadoCartorio')) ?>
                                                            <div class="col-md-3">
                                                                <div class="form-group <?php if ($form->get('estadoCartorio')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('estadoCartorio')); ?>
                                                                    <?php echo $this->formElement($form->get('estadoCartorio')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('estadoCartorio')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <?php if ($form->get('livro')) ?>
                                                            <div class="col-md-2 ">
                                                                <div class="form-group <?php if ($form->get('livro')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('livro')); ?>
                                                                    <?php echo $this->formElement($form->get('livro')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('livro')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('folha')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('folha')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('folha')); ?>
                                                                    <?php echo $this->formElement($form->get('folha')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('folha')); ?>
                                                                </div>
                                                            </div>
                                                            <?php if ($form->get('numeroLivro')) ?>
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <div class="form-group <?php if ($form->get('numeroLivro')->getMessages()): ?> has-error<?php endif; ?>">
                                                                    <?php echo $this->formLabel($form->get('numeroLivro')); ?>
                                                                    <?php echo $this->formElement($form->get('numeroLivro')); ?>
                                                                    <?php echo $this->formElementErrors($form->get('numeroLivro')); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <br/>
                                                <div id="nascimentoObitoField">
                                                    <fieldset>
                                                        <legend>Dados do Nascimento</legend>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <?php if ($form->get('localNascimento')) ?>
                                                                <div class="col-md-5">
                                                                    <div class="form-group <?php if ($form->get('localNascimento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formLabel($form->get('localNascimento')); ?>
                                                                        <?php echo $this->formElement($form->get('localNascimento')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('localNascimento')); ?>
                                                                    </div>
                                                                </div>
                                                                <?php if ($form->get('dataNascimentoNascObito')) ?>
                                                                <div class="col-md-2">
                                                                    <div class="form-group <?php if ($form->get('dataNascimentoNascObito')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formLabel($form->get('dataNascimentoNascObito')); ?>
                                                                        <?php echo $this->formElement($form->get('dataNascimentoNascObito')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('dataNascimentoNascObito')); ?>
                                                                    </div>
                                                                </div>
                                                                <?php if ($form->get('horaNascimento')) ?>
                                                                <div class="col-md-1">
                                                                    <div class="form-group <?php if ($form->get('horaNascimento')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formLabel($form->get('horaNascimento')); ?>
                                                                        <?php echo $this->formElement($form->get('horaNascimento')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('horaNascimento')); ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <br/>
                                                    <fieldset>
                                                        <legend>Dados Familiares</legend>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <?php if ($form->get('avoPaterno')) ?>
                                                                <div class="col-md-5">
                                                                    <div class="form-group <?php if ($form->get('avoPaterno')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formLabel($form->get('avoPaterno')); ?>
                                                                        <?php echo $this->formElement($form->get('avoPaterno')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('avoPaterno')); ?>
                                                                    </div>
                                                                </div>
                                                                <?php if ($form->get('avoPaterna')) ?>
                                                                <div class="col-md-5">
                                                                    <div class="form-group <?php if ($form->get('avoPaterna')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formLabel($form->get('avoPaterna')); ?>
                                                                        <?php echo $this->formElement($form->get('avoPaterna')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('avoPaterna')); ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <?php if ($form->get('avoMaterno')) ?>
                                                                <div class="col-md-5">
                                                                    <div class="form-group <?php if ($form->get('avoMaterno')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formLabel($form->get('avoMaterno')); ?>
                                                                        <?php echo $this->formElement($form->get('avoMaterno')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('avoMaterno')); ?>
                                                                    </div>
                                                                </div>
                                                                <?php if ($form->get('avoMaterna')) ?>
                                                                <div class="col-md-5">
                                                                    <div class="form-group <?php if ($form->get('avoMaterna')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formLabel($form->get('avoMaterna')); ?>
                                                                        <?php echo $this->formElement($form->get('avoMaterna')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('avoMaterna')); ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br/>
                                                        <fieldset>
                                                            <legend>Testemunhas</legend>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <?php if ($form->get('nomeCompletoTestemunha1')) ?>
                                                                    <div class="col-md-5">
                                                                        <div class="form-group <?php if ($form->get('nomeCompletoTestemunha1')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('nomeCompletoTestemunha1')); ?>
                                                                            <?php echo $this->formElement($form->get('nomeCompletoTestemunha1')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('nomeCompletoTestemunha1')); ?>
                                                                        </div>
                                                                    </div>
                                                                    <?php if ($form->get('estadoCivilTestemunha1')) ?>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group <?php if ($form->get('estadoCivilTestemunha1')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('estadoCivilTestemunha1')); ?>
                                                                            <?php echo $this->formElement($form->get('estadoCivilTestemunha1')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('estadoCivilTestemunha1')); ?>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <?php if ($form->get('nacionalidadeTestemunha1')) ?>
                                                                    <div class="col-md-5">
                                                                        <div class="form-group <?php if ($form->get('nacionalidadeTestemunha1')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('nacionalidadeTestemunha1')); ?>
                                                                            <?php echo $this->formElement($form->get('nacionalidadeTestemunha1')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('nacionalidadeTestemunha1')); ?>
                                                                        </div>
                                                                    </div>
                                                                    <?php if ($form->get('profissaoTestemunha1')) ?>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group <?php if ($form->get('profissaoTestemunha1')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('profissaoTestemunha1')); ?>
                                                                            <?php echo $this->formElement($form->get('profissaoTestemunha1')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('profissaoTestemunha1')); ?>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <?php if ($form->get('enderecoTestemunha1')) ?>
                                                                    <div class="col-md-5">
                                                                        <div class="form-group <?php if ($form->get('enderecoTestemunha1')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('enderecoTestemunha1')); ?>
                                                                            <?php echo $this->formElement($form->get('enderecoTestemunha1')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('enderecoTestemunha1')); ?>
                                                                        </div>
                                                                    </div>
                                                                    <?php if ($form->get('bairroTestemunha1')) ?>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group <?php if ($form->get('bairroTestemunha1')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('bairroTestemunha1')); ?>
                                                                            <?php echo $this->formElement($form->get('bairroTestemunha1')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('bairroTestemunha1')); ?>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr/>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <?php if ($form->get('nomeCompletoTestemunha2')) ?>
                                                                    <div class="col-md-5">
                                                                        <div class="form-group <?php if ($form->get('nomeCompletoTestemunha2')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('nomeCompletoTestemunha2')); ?>
                                                                            <?php echo $this->formElement($form->get('nomeCompletoTestemunha2')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('nomeCompletoTestemunha2')); ?>
                                                                        </div>
                                                                    </div>
                                                                    <?php if ($form->get('estadoCivilTestemunha2')) ?>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group <?php if ($form->get('estadoCivilTestemunha2')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('estadoCivilTestemunha2')); ?>
                                                                            <?php echo $this->formElement($form->get('estadoCivilTestemunha2')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('estadoCivilTestemunha2')); ?>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <?php if ($form->get('nacionalidadeTestemunha2')) ?>
                                                                    <div class="col-md-5">
                                                                        <div class="form-group <?php if ($form->get('nacionalidadeTestemunha2')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('nacionalidadeTestemunha2')); ?>
                                                                            <?php echo $this->formElement($form->get('nacionalidadeTestemunha2')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('nacionalidadeTestemunha2')); ?>
                                                                        </div>
                                                                    </div>
                                                                    <?php if ($form->get('profissaoTestemunha2')) ?>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group <?php if ($form->get('profissaoTestemunha2')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('profissaoTestemunha2')); ?>
                                                                            <?php echo $this->formElement($form->get('profissaoTestemunha2')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('profissaoTestemunha2')); ?>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <?php if ($form->get('enderecoTestemunha2')) ?>
                                                                    <div class="col-md-5">
                                                                        <div class="form-group <?php if ($form->get('enderecoTestemunha2')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('enderecoTestemunha2')); ?>
                                                                            <?php echo $this->formElement($form->get('enderecoTestemunha2')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('enderecoTestemunha2')); ?>
                                                                        </div>
                                                                    </div>
                                                                    <?php if ($form->get('bairroTestemunha2')) ?>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group <?php if ($form->get('bairroTestemunha2')->getMessages()): ?> has-error<?php endif; ?>">
                                                                            <?php echo $this->formLabel($form->get('bairroTestemunha2')); ?>
                                                                            <?php echo $this->formElement($form->get('bairroTestemunha2')); ?>
                                                                            <?php echo $this->formElementErrors($form->get('bairroTestemunha2')); ?>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <hr/>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <?php if ($form->get('gestacao')) ?>
                                                                <div class="col-md-3">
                                                                    <div class="form-group <?php if ($form->get('gestacao')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formLabel($form->get('gestacao')); ?>
                                                                        <?php echo $this->formElement($form->get('gestacao')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('gestacao')); ?>
                                                                    </div>
                                                                </div>
                                                                <?php if ($form->get('gravidez')) ?>
                                                                <div class="col-md-3">
                                                                    <div class="form-group <?php if ($form->get('gravidez')->getMessages()): ?> has-error<?php endif; ?>">
                                                                        <?php echo $this->formLabel($form->get('gravidez')); ?>
                                                                        <?php echo $this->formElement($form->get('gravidez')); ?>
                                                                        <?php echo $this->formElementErrors($form->get('gravidez')); ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>

                                                <div class="row" id="filhosField">
                                                    <div class="col-md-12">
                                                        <div class="btn-group col-md-1 col-md-offset-11">
                                                            <button id="sample_editable_1_new" class="btn green">
                                                                Novo
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div id="sample_editable_1_wrapper"
                                                             class="dataTables_wrapper no-footer">
                                                            <div class="table-scrollable">
                                                                <table class="table table-striped table-hover table-bordered dataTable no-footer display"
                                                                       role="grid" id="listaFilhos" name="listaFilhos">
                                                                    <thead>
                                                                    <tr role="row">
                                                                        <th class="text-right" width="40%">
                                                                            Nome do Filho(a)
                                                                        </th>
                                                                        <th class="text-left" width="15%">
                                                                            Idade
                                                                        </th>
                                                                        <th class="text-left" width="25%">
                                                                            Observações
                                                                        </th>
                                                                        <th class="text-center" width="10%">
                                                                            Editar
                                                                        </th>
                                                                        <th class="text-center" width="10%">
                                                                            Deletar
                                                                        </th>
                                                                    </tr>
                                                                    </thead>
                                                                    <?php if ($filhos): ?>
                                                                        <tbody>
                                                                        <?php foreach ($filhos as $key => $value):
                                                                            $oddEven = ($key % 2 == 0) ? "even" : "odd";
                                                                            ?>
                                                                            <tr id="linhaFilhos_<?= $key ?>" role="row"
                                                                                class="<?= $oddEven ?>">
                                                                                <td class="text-left">
                                                                                    <?= $value['nomeFilho'] ?>
                                                                                </td>
                                                                                <td class="text-left">
                                                                                    <?= $value['idade'] ?>
                                                                                </td>
                                                                                <td class="text-left">
                                                                                    <?= $value['observacao'] ?>
                                                                                </td>
                                                                                <td>
                                                                                    <a class="edit btn btn-warning text-center"
                                                                                       href="javascript:">
                                                                                        Editar </a>
                                                                                </td>
                                                                                <td>
                                                                                    <a class="delete btn btn-danger text-center"
                                                                                       href="javascript:">
                                                                                        Deletar </a>
                                                                                </td>
                                                                                <input type="hidden" id="nomeFilhos[]"
                                                                                       name="nomeFilhos[]"
                                                                                       value=<?= $value['nomeFilho'] ?>>
                                                                                <input type="hidden"
                                                                                       id="maoiridadeFilhos[]"
                                                                                       name="maoiridadeFilhos[]"
                                                                                       value=<?= $value['idade'] ?>>
                                                                                <input type="hidden"
                                                                                       id="observacaoFilhos[]"
                                                                                       name="observacaoFilhos[]"
                                                                                       value=<?= $value['observacao'] ?>>
                                                                            </tr>
                                                                        <?php endforeach; ?>
                                                                        </tbody>
                                                                    <?php endif; ?>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row" id="casamentoField">
                                                    <div class="col-md-12">
                                                        <div class="btn-group col-md-1 col-md-offset-11">
                                                            <button id="sample_editable_2_new" class="btn green">
                                                                Novo
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div id="sample_editable_2_wrapper"
                                                             class="dataTables_wrapper no-footer">
                                                            <div class="table-scrollable">
                                                                <table class="table table-striped table-hover table-bordered dataTable no-footer"
                                                                       role="grid" id="listaCasamentos"
                                                                       name="listaCasamentos">
                                                                    <thead>
                                                                    <tr role="row">
                                                                        <th class="text-right" width="20%">
                                                                            Cônjuge
                                                                        </th>
                                                                        <th class="text-left" width="5%">
                                                                            Dt. Casamento
                                                                        </th>
                                                                        <th class="text-left" width="10%">
                                                                            Cartório
                                                                        </th>
                                                                        <th class="text-center" width="10%">
                                                                            Cidade
                                                                        </th>
                                                                        <th class="text-center" width="5%">
                                                                            UF
                                                                        </th>
                                                                        <th class="text-center" width="5%">
                                                                            Livro
                                                                        </th>
                                                                        <th class="text-center" width="5%">
                                                                            Folha
                                                                        </th>
                                                                        <th class="text-center" width="5%">
                                                                            Nº.
                                                                        </th>
                                                                        <th class="text-center" width="5%">
                                                                            Editar
                                                                        </th>
                                                                        <th class="text-center" width="5%">
                                                                            Deletar
                                                                        </th>
                                                                    </tr>
                                                                    </thead>
                                                                    <?php if ($casamentos): ?>
                                                                        <tbody>
                                                                        <?php foreach ($casamentos as $key => $value):
                                                                            $oddEven = ($key % 2 == 0) ? "even" : "odd";
                                                                            ?>
                                                                            <tr id="linhaCasamentos_<?= $key ?>"
                                                                                role="row"
                                                                                class="<?= $oddEven ?>">
                                                                                <td class="text-center">
                                                                                    <?= $value['nomeConjuge'] ?>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <?= $value['dataCasamento'] ?>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <?= $value['cartorio'] ?>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <?= $value['cidade'] ?>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <?= $value['ufCidade'] ?>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <?= $value['livro'] ?>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <?= $value['folha'] ?>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <?= $value['numero'] ?>
                                                                                </td>
                                                                                <td>
                                                                                    <a class="edit btn btn-warning text-center"
                                                                                       href="javascript:">
                                                                                        Editar </a>
                                                                                </td>
                                                                                <td>
                                                                                    <a class="delete btn btn-danger text-center"
                                                                                       href="javascript:">
                                                                                        Deletar </a>
                                                                                </td>
                                                                                <input type="hidden"
                                                                                       id="nomeConjuges[]"
                                                                                       name="nomeConjuges[]"
                                                                                       value=<?= $value['nomeConjuge'] ?>>
                                                                                <input type="hidden"
                                                                                       id="dataCasamentos[]"
                                                                                       name="dataCasamentos[]"
                                                                                       value=<?= $value['dataCasamento'] ?>>
                                                                                <input type="hidden"
                                                                                       id="cartorioCasamentos[]"
                                                                                       name="cartorioCasamentos[]"
                                                                                       value=<?= $value['cartorio'] ?>>
                                                                                <input type="hidden"
                                                                                       id="cidadeCasamentos[]"
                                                                                       name="cidadeCasamentos[]"
                                                                                       value=<?= $value['cidade'] ?>>
                                                                                <input type="hidden"
                                                                                       id="ufCidades[]"
                                                                                       name="ufCidades[]"
                                                                                       value=<?= $value['ufCidade'] ?>>
                                                                                <input type="hidden"
                                                                                       id="livroCasamentos[]"
                                                                                       name="livroCasamentos[]"
                                                                                       value=<?= $value['livro'] ?>>
                                                                                <input type="hidden"
                                                                                       id="folhaCasamentos[]"
                                                                                       name="folhaCasamentos[]"
                                                                                       value=<?= $value['folha'] ?>>
                                                                                <input type="hidden"
                                                                                       id="numeroLivroCasamentos[]"
                                                                                       name="numeroLivroCasamentos[]"
                                                                                       value=<?= $value['numero'] ?>>
                                                                            </tr>
                                                                        <?php endforeach; ?>
                                                                        </tbody>
                                                                    <?php endif; ?>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <?php echo $this->formElement($form->get('id')); ?>
                                                <div class="form-actions text-center">
                                                    <?php echo $this->formElement($form->get('enviar')); ?>
                                                    <a class="btn btn-default default" role="button"
                                                       href="/agencia/contratacao">Cancelar</a>
                                                </div>
                                                <?php echo $this->form()->closeTag($form); ?>
                                                <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




