/****/
#fornecedores tr td{
    text-align: center;
        
}  
#fornecedores tr td:first-child + td{
    text-align: left;
}
#fornecedores tr th{
    text-align: center;
        
}  
#fornecedores tr th:first-child + th{
    text-align: left;
}

#descarteEnvio tr td{
    text-align: center;
        
}  

#descarteEnvio tr th{
    text-align: center;
        
}  
