<script type="text/javascript">
    jQuery(document).ready(function () {
<?php if (!$this->enabledForm): ?>
            jQuery('#pedido input').attr('disabled', true).css('background', '#f5f5f5');
            jQuery('#pedido select').attr('disabled', true).css('background', '#f5f5f5');
            jQuery('#pedido button').attr('disabled', true);
            jQuery('.btn-excluir-tabela').remove();
<?php endif; ?>
    });

</script>
<?php if (!empty($this->form->get('id')->getValue())): ?>
    <div class="tabbable-line boxless tabbable-reversed">
        <div class="">
            <div class="tab-pane active">
                <div class="portlet box default">
                    <div class="portlet-title">
                        <div class="caption">
                            Nº do Pedido <strong><?php echo $pedido->getNumeroPedido(); ?> </strong><?php echo $pedido->getSituacao()->getNome(); ?>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-2">
                               
                              
                                <div class="col-md-12">
                                    <div class="form-group">
                                        Nº do Empenho:<br/>
                                        <strong><?php echo $pedido->getEmpenho()->getNumEmpenho(); ?></strong>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        Total Pedido:<br/>
                                        <strong><?php echo "R$ " . number_format($pedido->getValorTotalPedido(), 2, ',', '.'); ?></strong>
                                    </div>
                                </div>
                          
                           
                                <div class="col-md-12">
                                    <div class="form-group">
                                       Total Recebido:<br/>
                                         <strong><?php echo "R$ " . number_format($pedido->getValorTotalRecebido(), 2, ',', '.'); ?></strong>
                                    </div>
                                </div>
                     
                         
                        </div>
                        <div class="col-md-10">
                                <div class="portlet-body">
                        <div class="panel-group accordion" id="accordion3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1"> Pedido X Recebido </a>
                                    </h4>
                                </div>
                                <div id="collapse_3_1" class="panel-collapse in">
                                    <div class="panel-body">
                                        <div class="table-scrollable">
                                        <table class="table table-bordered table-hover" id="tabela-produtos">
                                            <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th>Item</th>
                                                    <th>Preço Unitário</th>
                                                    <th>Qntd Solicitada</th>
                                                    <th>Qntd Recebida</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php 
                                                $solicitada = 0;
                                                $recebida=0;
                                                foreach ($pedido->getItensPedido() as $item): 
                                                    $solicitada = $item->getQtd() + $solicitada;
                                                    $recebida =$item->getQuantidadeRecebida() + $recebida;
                                                    ?>
                                                    <tr>
                                                        <td>
                                                            <?php echo $item->getProduto()->getCodigo(); ?>
                                                        </td> 
                                                        <td>
                                                            <?php echo $item->getProduto()->getNome(); ?>
                                                        </td>
                                                        <td>
                                                            R$ <?php echo number_format($item->getPrecoUnitario(), 2, ',', '.'); ?>
                                                        </td>
                                                        <td>
                                                            <?php echo $item->getQtd(); ?>
                                                        </td>
                                                        <td>
                                                            <?php echo $item->getQuantidadeRecebida(); ?>
                                                        </td>

                                                    </tr>
                                                   
                                                <?php endforeach; ?>
                                                    <tr><td></td><td></td><td></td><td>
                                                            <strong><?php echo $solicitada;?></strong>
                                                        </td>
                                                        <td>
                                                           <strong><?php echo $recebida;?></strong>
                                                        </td>

                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            
                            
                        </div>
                        </div>
                        
                    </div>
                  
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    </div>
<?php endif; ?>


        <div class="">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a aria-expanded="false" href="<?php echo $this->url('estoque/default', array('controller' => 'pedido', 'action' => 'formulario')); ?>">Pedido</a>
                    </li>
                    <?php if ($form->get('id')->getValue() && $this->Acl()->verifyPermission('recebimento', 'index')): ?>
                        <li class="">
                            <a aria-expanded="false" href="<?php echo $this->url('estoque/default', array('controller' => 'pedido', 'action' => 'redirecionarRecebimento', 'id' => $form->get('id')->getValue())); ?>">Recebimento</a>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>
            <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="portlet-body form">
                            <?php
                            $form = $this->form;

                            if ($form->get('id')->getValue()) {
                                $form->setAttribute('action', $this->url($this->MyRoute(), array(
                                            'controller' => $this->layout()->controller,
                                            'action' => $this->layout()->action,
                                            'id' => $form->get('id')->getValue()
                                )));
                            } else {
                                $form->setAttribute('action', $this->url($this->MyRoute(), array(
                                            'controller' => $this->layout()->controller,
                                            'action' => $this->layout()->action
                                )));
                            }
                            ?>

                            <?php echo $this->form()->openTag($form); ?>
                            <div class="form-body">
                                <h3 class="form-section">Pedido</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('numeroPedido')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('numeroPedido')); ?>
                                            <?php echo $this->formElement($form->get('numeroPedido')); ?>
                                            <?php echo $this->formElementErrors($form->get('numeroPedido')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('ofn')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('ofn')); ?>
                                            <?php echo $this->formElement($form->get('ofn')); ?>
                                            <?php echo $this->formElementErrors($form->get('ofn')); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('fornecedor')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('fornecedor')); ?>
                                            <?php echo $this->formElement($form->get('fornecedor')); ?>
                                            <?php echo $this->formElementErrors($form->get('fornecedor')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('contrato')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('contrato')); ?>
                                            <?php echo $this->formElement($form->get('contrato')); ?>
                                            <?php echo $this->formElementErrors($form->get('contrato')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('empenho')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('empenho')); ?>
                                            <?php echo $this->formElement($form->get('empenho')); ?>
                                            <?php echo $this->formElementErrors($form->get('empenho')); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('dataSolicitacao')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('dataSolicitacao')); ?>
                                            <div class='input-group date'>
                                                <?php echo $this->formElement($form->get('dataSolicitacao')); ?>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <?php echo $this->formElementErrors($form->get('dataSolicitacao')); ?>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('dataEntrega')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('dataEntrega')); ?>
                                            <div class='input-group date'>
                                                <?php echo $this->formElement($form->get('dataEntrega')); ?>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <?php echo $this->formElementErrors($form->get('dataEntrega')); ?>
                                        </div>
                                    </div>
                                </div>

                                <!--/row-->
                                <h3 class="form-section">Produto</h3>
                                <div class="row">
                                    <div class="col-md-4" style="float: right;">
                                        <strong>Empenho Disponível: </strong><span id="label-valor-empenho-disponivel">R$ <?php echo number_format($form->get('valor-empenho-disponivel')->getValue(), 2, ',', '.'); ?></span>
                                        <?php echo $this->formElement($form->get('valor-empenho-disponivel')); ?>
                                    </div>
                                </div>
                                <br /><br />
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group <?php if ($form->get('produto')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('produto')); ?>
                                            <?php echo $this->formElement($form->get('produto')); ?>
                                            <?php echo $this->formElementErrors($form->get('produto')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <?php echo $this->formLabel($form->get('precoUnitario')); ?>
                                            <?php echo $this->formElement($form->get('precoUnitario')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <?php echo $this->formLabel($form->get('quantidade')); ?>
                                            <?php echo $this->formElement($form->get('quantidade')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                          <div class="form-group" style="margin-top: 30px">
                                             <input type="text" id="medida" value="" style="border: none">
                                          
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <a class="btn btn-default green btn-excluir-tabela" onclick="adicionarProduto()" style="margin-top: 23px;"><i class="glyphicon glyphicon-plus"></i>Adicionar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
<div class="table-scrollable">
                            <table class="table table-bordered table-hover" id="tabela-produtos">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Item</th>
                                        <th>Preço Unitário</th>
                                        <th>Quantidade</th>
                                        <th>Total</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if ($this->itensPedido): ?>
                                        <?php $total = 0;
                                        foreach ($this->itensPedido as $item):
                                            $total = $total + $item['total-valor-produto'];
                                            
                                            ?>
                                            <tr>
                                                <td>
                                                    <?php echo $item['codigo-produto']; ?>
                                                    <input type='hidden' name='id-item-pedido[]' value='<?php echo $item['id-item-pedido'] ?>' />
                                                    <input type='hidden' name='id-produto[]' value='<?php echo $item['id-produto'] ?>' />
                                                    <input type='hidden' name='codigo-produto[]' value='<?php echo $item['codigo-produto'] ?>' />
                                                    <input type='hidden' name='nome-produto[]' value='<?php echo $item['nome-produto'] ?>' />
                                                    <input type='hidden' name='preco-unitario-produto[]' value='<?php echo $item['preco-unitario-produto'] ?>' />
                                                    <input type='hidden' name='qtd-produto[]' value='<?php echo $item['qtd-produto'] ?>' />
                                                    <input type='hidden' name='total-valor-produto[]' value='<?php echo $item['total-valor-produto'] ?>' />
                                                </td> 
                                                <td>
                                                    <?php echo $item['nome-produto'] ?>
                                                </td>
                                                <td>
                                                    R$ <?php echo number_format($item['preco-unitario-produto'], 2, ',', '.'); ?>
                                                </td>
                                                <td>
                                                    <?php echo $item['qtd-produto'] ?>
                                                </td>
                                                <td>
                                                    R$ <?php echo number_format($item['total-valor-produto'], 2, ',', '.'); ?>
                                                </td>
                                                <td>
                                                    <a onclick="excluirItemPedido(jQuery(this));" class="glyphicon glyphicon-trash btn-excluir-tabela"></a>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                            <tr><td></td><td></td><td></td><td></td><td><strong>R$ <?php echo number_format($total, 2, ',', '.'); ?></strong></td><td></td></tr>
                                    <?php else: ?>
                                        <tr id="nenhum-produto-selecionado">
                                            <td colspan="6"><i>Nenhum Produto Selecionado</i></td> 
                                        </tr>
                                    <?php endif; ?>

                                </tbody>
                            </table>
</div>
                            <?php echo $this->formElement($form->get('idItensExcluidos')); ?>
                            <?php echo $this->formElement($form->get('id')); ?>
                            <div class="form-actions left">
                                <input type="hidden" id="acao" name="acao" value="" />
                                <button type="button" class="btn blue btn-enviar" value="C">Cadastrar</button>
                                <button type="button" class="btn blue btn-enviar" value="CE">Salvar e Enviar Pedido</button>
                                <a class="btn btn-default default" role="button" href="<?php echo $this->url($this->MyRoute(), array('controller' => $this->layout()->controller)); ?>">Cancelar</a>
                            </div>

                            <?php echo $this->form()->closeTag(); ?>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
