<div class="page-head">
    <div class="page-title">
        <h1>Pedidos/Recebimento <small>lista de pedidos/recebimento</small></h1>
    </div>
    <div class="page-toolbar">
        <?php if ($this->Acl()->verifyPermission('pedido', 'incluir') && $this->central) : ?>
            <button id="sample_editable_1_new" class="btn sbold green" onclick="redirecionar('<?php echo $this->url('estoque/default', array('controller' => 'pedido', 'action' => 'formulario')); ?>')"> Novo Pedido
                <i class="fa fa-plus"></i>
            </button>
        <?php endif; ?>
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="pedidos" style="width: 100%">
                    <thead>
                        <tr>
                            <td colspan="5" style="border: none;">
                                <div class="actions">
                                    <?php if ($this->Acl()->verifyPermission('pedido', 'excluir') && $this->central) : ?>
                                        <div class="btn-group" style="float: left; margin-left: 15px; ">
                                            <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <span class="hidden-sm hidden-xs">Ações&nbsp;</span>
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#modalDelete" role="button" data-toggle="modal"><i class="icon-trash"></i>Excluir</a>
                                                </li>
                                                <li>
                                                    <a href="#modalPDF" role="button" data-toggle="modal"><i class="glyphicon glyphicon-file"></i>PDF</a>
                                                </li>
                                            </ul>
                                            
                                        </div>
                                    <?php endif; ?>
                                    <div style="float: left; margin-left: 15px; ">
                                        <?php
                                        $form = $this->formFilter;
                                        $form->prepare();
                                        echo $this->form()->openTag($form);
                                        echo $this->formElement($form->get('situacao'));
                                        echo $this->form()->closeTag();
                                        ?>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%"><input type="checkbox" class="group-checkable" /></th>
                            <th width="15%" align="center">Nº do Pedido</th>
                            <th width="15%" align="center">Empenho</th>
                            <th width="15%" align="center">Data</th>
                            <th width="15%" align="center">Fornecedor</th>
                            <th width="15%" align="center">Situação</th>
                            <th width="18%" align="center">Total</th>
                            <th width="2%" align="center">Ação</th>
                        </tr>
                    </thead>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>


<div id="modalErrorCancelar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Pedido não Cancelado</h4>
            </div>
            <div class="modal-body">
                <p>Esse pedido não pode ser cancelado. Só é permitido realizar o cancelamento quando o pedido estiver solicitado.</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn red">OK</button>
            </div>
        </div>
    </div>
</div>
