<?php echo $this->headScript()->appendFile($this->basePath() . '/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')->appendFile($this->basePath() . '/assets/global/scripts/custom.js'); ?>

<script type="text/javascript">
    jQuery(document).ready(function () {
        App.initUniform(jQuery('input[type="checkbox"]'));

        jQuery('input[name="checkbox-list"]').change(function () {
            var set = jQuery('#estorno').find('input[type="checkbox"]');
            var checked = jQuery(this).prop("checked");
            jQuery(set).each(function () {
                jQuery(this).prop("checked", checked);
            });
            jQuery.uniform.update(set);
        });

        jQuery('#confirmar').click(function () {

            if (jQuery('#dataEstorno').val() == "") {
                alert('Informe a data de Estorno');
                return false;
            }

            if (jQuery('#motivo').val() == "") {
                alert('Informe o Motivo');
                return false;
            }

            var ids = jQuery('input[name="id-item-transferencia[]"]').map(function () {
                if (jQuery(this).is(':checked')) {
                    return this.value;
                }
            }).get().join();

            if (ids == "") {
                alert('Informe pelo menos um item a ser extornado');
                return false;
            }

            var totalTransferencia = jQuery('#totalTransferencia').val();
            var todasTransferencias = 0;
            
            if(totalTransferencia == ids.split(',').length){
                todasTransferencias = 1;
            }
                
            
            jQuery.post(url + '/estoque/transferencia/estorno/' + jQuery('#idPedidoTransferencia').val(), {dataEstorno: jQuery('#dataEstorno').val(),
                idPedidoTransferencia: jQuery('#idPedidoTransferencia').val(),
                motivo: jQuery('#motivo').val(),
                estoque: jQuery('#estoque').val(),
                ids: ids,
                todasTransferencias: todasTransferencias
            }, function (data) {
                location.href = url + '/estoque/transferencia';
            }, 'json');
        });

    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <?php $form = $this->form; ?>
                            <?php echo $this->form()->openTag($form); ?>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label"><?php echo $this->formLabel($form->get('dataEstorno')); ?></label>
                                        <?php echo $this->formElement($form->get('dataEstorno')); ?>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label"><?php echo $this->formLabel($form->get('motivo')); ?></label>
                                        <?php echo $this->formElement($form->get('motivo')); ?>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-bordered table-hover" id="tabela-itens-extorno">
                                    <thead>
                                        <tr>
                                            <td><input type="checkbox" name="checkbox-list"  /></td>
                                            <th>Código</th>
                                            <th>Item</th>
                                            <th>Preço Médio</th>
                                            <th>Quantidade</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php $t = 0;?>
                                        <?php foreach ($this->pedidoTransferencia->getItensTransferencia() as $item): ?>
                                            <?php $qtd = $item->getItemRecebido() ? $item->getQtd() - $item->getItemRecebido()->getQtd() : $item->getQtd(); ?>
                                            <?php if (!isset($this->estornos[$item->getId()]) && $qtd > 0): ?>
                                                <?php $valorTotal = $item->getItemRecebido() ? ( $item->getQtd() - $item->getItemRecebido()->getQtd() ) * $item->getCustoMedio() : $item->getQtd() * $item->getCustoMedio(); ?>
                                                <?php $t++;?>
                                                <tr>
                                                    <td><input type="checkbox" name="id-item-transferencia[]" value="<?php echo $item->getId(); ?>" /></td>
                                                    <td><?php echo $item->getProduto()->getCodigo(); ?></td>
                                                    <td><?php echo $item->getProduto()->getNome(); ?></td>
                                                    <td><?php echo "R$ " . number_format($item->getCustoMedio(), 2, ',', '.'); ?></td>
                                                    <td><?php echo $item->getItemRecebido() ? $item->getQtd() - $item->getItemRecebido()->getQtd() : $item->getQtd(); ?></td>
                                                    <td><?php echo "R$ " . number_format($valorTotal, 2, ',', '.'); ?></td>
                                                </tr>
                                            <?php endif; ?>
                                        <?php endforeach; ?>

                   
                                    </tbody>
                                </table>
                            </div>
                            <div class="margin-top-10">
                                <input type="hidden" name="totalTransferencia" id="totalTransferencia" value="<?php echo $t; ?>" />
                                <input type="hidden" name="idPedidoTransferencia" id="idPedidoTransferencia" value="<?php echo $this->id; ?>" />
                                <button type="button" class="btn green" id="confirmar">Confirmar</button>
                            </div>

                            <?php echo $this->form()->closeTag(); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>