<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    jQuery(document).ready(function () {
<?php if (!$this->enabledForm): ?>
            jQuery('#transferencia input').attr('disabled', true);
            jQuery('#transferencia select').attr('disabled', true);
            jQuery('#transferencia button').attr('disabled', true);
            jQuery('.btn-excluir-tabela').remove();
<?php endif; ?>
    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a aria-expanded="false" href="#">Envio</a>
                    </li>
                </ul>
            </div>
             <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="portlet-body form">
                            <?php
                            $form = $this->form;

                            if ($form->get('id')->getValue()) {
                                $form->setAttribute('action', $this->url($this->MyRoute(), array(
                                            'controller' => $this->layout()->controller,
                                            'action' => $this->layout()->action,
                                            'id' => $form->get('id')->getValue()
                                )));
                            } else {
                                $form->setAttribute('action', $this->url($this->MyRoute(), array(
                                            'controller' => $this->layout()->controller,
                                            'action' => $this->layout()->action
                                )));
                            }
                            ?>

                            <?php echo $this->form()->openTag($form); ?>
                            <div class="form-body">
                                <h3 class="form-section">Pedido de Transferência</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('numeroTransferencia')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('numeroTransferencia')); ?>
                                            <?php echo $this->formElement($form->get('numeroTransferencia')); ?>
                                            <?php echo $this->formElementErrors($form->get('numeroTransferencia')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('estoqueDestino')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('estoqueDestino')); ?>
                                            <?php echo $this->formElement($form->get('estoqueDestino')); ?>
                                            <?php echo $this->formElementErrors($form->get('estoqueDestino')); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('dataTransferencia')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('dataTransferencia')); ?>
                                            <?php echo $this->formElement($form->get('dataTransferencia')); ?>
                                            <?php echo $this->formElementErrors($form->get('dataTransferencia')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('dataEntrega')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('dataEntrega')); ?>
                                            <?php echo $this->formElement($form->get('dataEntrega')); ?>
                                            <?php echo $this->formElementErrors($form->get('dataEntrega')); ?>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
                                <h3 class="form-section">Produto</h3>
                                <div class="row" style="vertical-align:middle;">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <?php echo $this->formLabel($form->get('produto')); ?>
                                            <?php echo $this->formElement($form->get('produto')); ?>
                                            <?php echo $this->formElementErrors($form->get('produto')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <?php echo $this->formLabel($form->get('quantidadeDisponivel')); ?>
                                            <?php echo $this->formElement($form->get('quantidadeDisponivel')); ?>
                                            <?php echo $this->formElementErrors($form->get('quantidadeDisponivel')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <?php echo $this->formLabel($form->get('quantidade')); ?>
                                            <?php echo $this->formElement($form->get('quantidade')); ?>
                                            <?php echo $this->formElementErrors($form->get('quantidade')); ?>
                                            </br>
                                            <input readonly type="text" id="medida" value="" style="border: none">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <?php echo $this->formLabel($form->get('valorTotal')); ?>
                                            <?php echo $this->formElement($form->get('valorTotal')); ?>
                                            <?php echo $this->formElementErrors($form->get('valorTotal')); ?>
                                        </div>
                                    </div>
<!--                                    <div class="col-md-2">-->
<!--                                        <div class="form-group" style="margin-top: 30px">-->
<!--                                            <input type="text" id="medida" value="" style="border: none">-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <a class="btn btn-default green btn-excluir-tabela" onclick="adicionarProduto()" style="margin-top: 23px;"><i class="glyphicon glyphicon-plus"></i>Adicionar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="table-scrollable">
                            <table class="table table-bordered table-hover" id="tabela-produtos">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Item</th>
                                        <th>Custo Médio</th>
                                        <th>Quantidade</th>
                                        <th>Total</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th colspan="5">
                                        <div class="pull-right">
                                            Total Produtos R$:
                                        </div>
                                    </th>
                                    <th>
                                        <?php echo $this->formElement($form->get('hiddenValorTotalProdutos')); ?>
                                        <div class="text-center" id="totalProdutos" name="totalProdutos">
                                            0,00
                                        </div>
                                    </th>
                                </tr>
                                </tfoot>
                                <tbody>
                                    <?php if ($this->itensPedido): ?>
                                        <?php foreach ($this->itensPedido as $item): ?>
                                            <tr>
                                                <td>
                                                    <?php echo $item['codigo-produto']; ?>
                                                    <input type='hidden' name='id-item-transferencia[]' value='<?php echo $item['id-item-transferencia']; ?>' />
                                                    <input type='hidden' name='id-produto[]' value='<?php echo $item['id-produto']; ?>' />
                                                    <input type='hidden' name='codigo-produto[]' value='<?php echo $item['codigo-produto']; ?>' />
                                                    <input type='hidden' name='nome-produto[]' value='<?php echo $item['nome-produto']; ?>' />
                                                    <input type='hidden' name='preco-medio[]' value='<?php echo $item['preco-medio']; ?>' />
                                                    <input type='hidden' name='qtd-produto[]' value='<?php echo $item['qtd-produto'] ?>' />
                                                    <input type='hidden' name='valor-total[]' value='<?php echo $item['valor-total'] ?>' />
                                                </td>
                                                <td>
                                                    <?php echo $item['nome-produto'] ?>
                                                </td>
                                                <td>
                                                    R$ <?php echo number_format($item['preco-medio'], 2, ',', '.'); ?>
                                                </td>
                                                <td>
                                                    <?php echo $item['qtd-produto'] ?>
                                                </td>
                                                <td>
                                                    R$ <?php echo number_format($item['valor-total'], 2, ',', '.'); ?>
                                                </td>
                                                <td>
                                                    <a onclick="excluirItemPedido(jQuery(this));" class="glyphicon glyphicon-trash btn-excluir-tabela"></a>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                    <?php else: ?>
                                        <tr id="nenhum-produto-selecionado">
                                            <td colspan="6"><i>Nenhum Produto Selecionado</i></td>
                                        </tr>
                                    <?php endif; ?>
                                </tbody>
                            </table>
                    </div>
                            <?php echo $this->formElement($form->get('idItensExcluidos')); ?>
                            <?php echo $this->formElement($form->get('id')); ?>
                            <div class="form-actions left">
                                <input type="hidden" id="acao" name="acao" value="" />
                                <button type="button" class="btn blue btn-enviar" value="C">Cadastrar</button>
                                <button type="button" class="btn blue btn-enviar" value="CE">Salvar e Enviar Transferência</button>
                                <a class="btn btn-default default" role="button" href="<?php echo $this->url($this->MyRoute(), array('controller' => $this->layout()->controller)); ?>">Cancelar</a>
                            </div>

                            <?php echo $this->form()->closeTag(); ?>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
