<div class="page-head">
    <div class="page-title">
        <h1>Transferência <small>lista de transferências</small></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a aria-expanded="false" href="<?php echo $this->url('estoque/default', array('controller' => 'transferencia', 'action' => 'formulario')); ?>">Envio</a>
                    </li>
                    <?php if ($this->Acl()->verifyPermission('recebimentoTransferencia', 'index')): ?>
                        <li class="">
                            <a aria-expanded="false" href="<?php echo $this->url('estoque/default', array('controller' => 'recebimentoTransferencia', 'action' => 'index')); ?>">Recebimento</a>
                        </li>
                    <?php endif; ?>
                    <?php if ($this->Acl()->verifyPermission('transferencia', 'incluir')) : ?>
                        <div class="pull-right">
                            <button id="sample_editable_1_new" class="btn sbold green" onclick="redirecionar('<?php echo $this->url('estoque/default', array('controller' => 'transferencia', 'action' => 'formulario')); ?>')"> Nova Transferência
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    <?php endif; ?>
                </ul>
            </div>
          <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="transferencias" style="width: 100%">
                    <thead>
                        <tr>
                            <td colspan="5" style="border: none;">
                                <div class="actions">
                                    <?php if ($this->Acl()->verifyPermission('transferencia', 'excluir')) : ?>
                                        <div class="btn-group" style="float: left; margin-left: 15px; ">
                                            <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <span class="hidden-sm hidden-xs">Ações&nbsp;</span>
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#modalDelete" role="button" data-toggle="modal"><i class="icon-trash"></i>Excluir</a>
                                                </li>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                    <div style="float: left; margin-left: 15px; ">
                                        <?php
                                        $form = $this->formFilter;
                                        $form->prepare();
                                        echo $this->form()->openTag($form);
                                        echo $this->formElement($form->get('situacao'));
                                        echo $this->form()->closeTag();
                                        ?>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%"><input type="checkbox" class="group-checkable" /></th>
                            <th width="20%" align="center">Nº da Transferência</th>
                            <th width="15%" align="center">Data da Transferência</th>
                            <th width="20%" align="center">Origem</th>
                            <th width="20%" align="center">Destino</th>
                            <th width="15%" align="center">Situação</th>
                            <th width="18%" align="center">Valor</th>
                            <th width="2%" align="center">Ação</th>
                        </tr>
                    </thead>
                </table>
            </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div id="modalErrorCancelar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Transferência não Cancelado</h4>
            </div>
            <div class="modal-body">
                <p>Essa transferência não pode ser cancelada.</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn red">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="modalErrorExcluirTransferencia" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Erro</h4>
            </div>
            <div class="modal-body">
                <p>Erro ao Realizar a Ação! Verifique o status das transferências selecionadas e se elas pertencem ao estoque selecionado no login. </p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn red">OK</button>
            </div>
        </div>
    </div>
</div>