<?php
$form->setAttribute('action', $this->url('home/default', array(
            'controller' => $this->layout()->controller,
            'action' => $this->layout()->action,
            'id' => $form->get('id')->getValue()
)));
?>
<div class="tabbable-line boxless tabbable-reversed">
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="portlet box default">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="<?php print $form->getAttribute('icon'); ?>"></i><?php print $form->getLabel(); ?>
                    </div>
                </div>
                <div class="portlet-body form">

                    <?php echo $this->form()->openTag($form); ?>

                    <?php foreach ($form->getElements() as $key => $element): ?>              
                        <?php if (!preg_match('/(Submit|Hidden)$/', get_class($element))): ?>
                            <div class="form-body">
                                <div class="form-group <?php if ($element->getMessages()): ?> has-error <?php endif; ?>">
                                    <?php echo $this->formLabel($element); ?>
                                    <div class="col-md-4">
                                        <?php echo $this->formElement($element); ?>
                                        <?php echo $this->formElementErrors($element); ?>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn blue">Salvar</button>
                                <a class="btn btn-default default" role="button" href="<?php echo $this->url('home/default', array('controller' => $this->layout()->controller)); ?>">Cancelar</a>
                            </div>
                        </div>
                    </div>

                    <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
</div>