<meta charset="utf-8" />
<?php echo $this->headTitle('SFMP')->setSeparator(' - ')->setAutoEscape(false) ?>
<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1')->appendHttpEquiv('X-UA-Compatible', 'IE=edge'); ?>

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

<?php
//CSS DO TEMPLATE
$headStyles = $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => ''))
        ->appendStylesheet($this->basePath() . '/assets/global/plugins/font-awesome/css/font-awesome.min.css')
        ->appendStylesheet($this->basePath() . '/assets/global/plugins/simple-line-icons/simple-line-icons.min.css')
        ->appendStylesheet($this->basePath() . '/assets/global/plugins/bootstrap/css/bootstrap.min.css')
        ->appendStylesheet($this->basePath() . '/assets/global/plugins/uniform/css/uniform.default.css')
        ->appendStylesheet($this->basePath() . '/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css')
        ->appendStylesheet($this->basePath() . '/assets/global/plugins/datatables/datatables.min.css')
        ->appendStylesheet($this->basePath() . '/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css')
        ->appendStylesheet($this->basePath() . '/assets/global/css/components.min.css')
        ->appendStylesheet($this->basePath() . '/assets/global/css/plugins.min.css')
        ->appendStylesheet($this->basePath() . '/assets/layouts/layout4/css/layout.min.css')
        ->appendStylesheet($this->basePath() . '/assets/layouts/layout4/css/themes/default.min.css');


//Verifica se possuem scripts a serem adicionados de acordo com o controller atual
if (isset($this->styles)) {
    foreach ($this->styles as $script) {
        $headStyles->appendFile($this->basePath() . '/assets/application/js/' . $script . '?time=' . time());
    }
}

//Exibe os scripts
echo $headStyles;


//JS TEMPLATE
$headScript = $this->headScript()
        ->appendFile($this->basePath() . '/assets/global/plugins/jquery.min.js')
        ->appendFile($this->basePath() . '/assets/global/plugins/bootstrap/js/bootstrap.min.js')
        ->appendFile($this->basePath() . '/assets/global/plugins/js.cookie.min.js')
        ->appendFile($this->basePath() . '/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')
        ->appendFile($this->basePath() . '/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
        ->appendFile($this->basePath() . '/assets/global/plugins/jquery.blockui.min.js')
        ->appendFile($this->basePath() . '/assets/global/plugins/uniform/jquery.uniform.min.js')
        ->appendFile($this->basePath() . '/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')
        ->appendFile($this->basePath() . '/assets/global/scripts/datatable.js')
        ->appendFile($this->basePath() . '/assets/global/plugins/datatables/datatables.min.js')
        ->appendFile($this->basePath() . '/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js')
        ->appendFile($this->basePath() . '/assets/global/scripts/app.min.js')
        ->appendFile($this->basePath() . '/assets/pages/scripts/table-datatables-colreorder.min.js')
        ->appendFile($this->basePath() . '/assets/layouts/layout4/scripts/layout.min.js')
        ->appendFile($this->basePath() . '/assets/layouts/layout4/scripts/demo.min.js')
        ->appendFile($this->basePath() . '/assets/layouts/global/scripts/quick-sidebar.min.js')
        ->appendFile($this->basePath() . '/assets/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js')
        ->appendFile($this->basePath() . '/assets/pages/scripts/ui-bootstrap-growl.min.js')
        ->appendFile($this->basePath() . '/assets/global/scripts/custom.js')


;

//Verifica se possuem scripts a serem adicionados de acordo com o controller atual
if (isset($this->scripts)) {
    foreach ($this->scripts as $script) {
        $headScript->appendFile($this->basePath() . '/assets/application/js/' . $script . '?time=' . time());
    }
}

//Exibe os scripts
echo $headScript;
?>

<!-- Scripts -->
<script type="text/javascript">
    var url = "http://" + document.location.host + "<?php echo $this->baseUrlPath; ?>";
</script>