<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <?php echo $this->headTitle('SFMP')->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1')->appendHttpEquiv('X-UA-Compatible', 'IE=edge'); ?>

        <?php
            
            //CSS DO TEMPLATE
            echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => ''))
                    ->appendStylesheet($this->basePath() . '/assets/global/plugins/font-awesome/css/font-awesome.min.css')
                    ->appendStylesheet($this->basePath() . '/assets/global/plugins/simple-line-icons/simple-line-icons.min.css')
                    ->appendStylesheet($this->basePath() . '/assets/global/plugins/bootstrap/css/bootstrap.min.css')
                    ->appendStylesheet($this->basePath() . '/assets/global/plugins/uniform/css/uniform.default.css')
                    ->appendStylesheet($this->basePath() . '/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css')
                    ->appendStylesheet($this->basePath() . '/assets/global/plugins/select2/css/select2.min.css')
                    ->appendStylesheet($this->basePath() . '/assets/global/plugins/select2/css/select2-bootstrap.min.css')
                    ->appendStylesheet($this->basePath() . '/assets/global/css/components.min.css')
                    ->appendStylesheet($this->basePath() . '/assets/global/css/plugins.min.css')
                    ->appendStylesheet($this->basePath() . '/assets/pages/css/login.min.css');
            
            //JS DO TEMPLATE
            echo  $this->headScript()
                       ->appendFile($this->basePath() . '/assets/global/plugins/jquery.min.js')
                       ->appendFile($this->basePath() . '/assets/global/plugins/bootstrap/js/bootstrap.min.js')
                       ->appendFile($this->basePath() . '/assets/global/plugins/js.cookie.min.js')
                       ->appendFile($this->basePath() . '/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')
                       ->appendFile($this->basePath() . '/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
                       ->appendFile($this->basePath() . '/assets/global/plugins/jquery.blockui.min.js')
                       ->appendFile($this->basePath() . '/assets/global/plugins/uniform/jquery.uniform.min.js')
                       ->appendFile($this->basePath() . '/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')
                       ->appendFile($this->basePath() . '/assets/global/plugins/jquery-validation/js/jquery.validate.min.js')
                       ->appendFile($this->basePath() . '/assets/global/plugins/jquery-validation/js/additional-methods.min.js')
                       ->appendFile($this->basePath() . '/assets/global/plugins/select2/js/select2.full.min.js')
                       ->appendFile($this->basePath() . '/assets/global/scripts/app.min.js')
                       ->appendFile($this->basePath() . '/assets/pages/scripts/login.min.js');

      
                    
        ?>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
       <!-- <link rel="shortcut icon" href="favicon.ico" /> -->
    
    </head>

    <body class="login">
        <div class="menu-toggler sidebar-toggler"></div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="">
                <img src="<?php echo $this->basePath() . '/assets/layouts/layout4/img/logo.png' ;?>" alt="" /> 
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">

            <?php echo $this->content; ?>
        </div>
       <!-- <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div>-->
    </body>
</html>