<?php foreach ($this->container as $page): ?> 
    <li class="nav-item <?php print $page->getClass(); ?>">
        <a href="/home" class="nav-link nav-toggle">
            <i class="icon-user"></i>
            <span class="title"><?php print $page->getLabel(); ?></span>
            <span class="arrow"></span>
        </a>
        <?php if($page->hasPages()): ?>
            <ul class="sub-menu">
                <?php foreach ($page->getPages() as $child): ?> 
                <li class="nav-item <?php print $child->getClass(); ?>">
                    <a href="<?php print $this->url('home/default', array('controller' => $child->getController(), 'action' => $child->getAction())); ?>" class="nav-link ">
                        <span class="title"><?php print $child->getLabel(); ?></span>
                    </a>
                </li>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>  
    </li>
<?php endforeach; ?>

<?php /* if ($this->controller == 'Application\Controller\Usuario' || $this->controller == 'Application\Controller\Perfil'): ?> active open <?php endif; */ ?>