<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="">
                        <a aria-expanded="false" href="<?php echo $this->url('estoque/default', array('controller' => 'pedido', 'action' => 'formulario', 'id' => $this->pedido)); ?>">Pedido</a>
                    </li>
                    <li class="active">
                        <a aria-expanded="false" href="<?php echo $this->url('estoque/default', array('controller' => 'pedido', 'action' => 'redirecionarRecebimento', 'id' => $form->get('id')->getValue())); ?>">Recebimento</a>
                    </li>
                </ul>
            </div>
             <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="portlet-body form">
                            <?php
                            $form = $this->form;

                            if ($form->get('id')->getValue()) {
                                $form->setAttribute('action', $this->url($this->MyRoute(), array(
                                            'controller' => $this->layout()->controller,
                                            'action' => $this->layout()->action,
                                            'id' => $form->get('id')->getValue()
                                )));
                            } else {
                                $form->setAttribute('action', $this->url($this->MyRoute(), array(
                                            'controller' => $this->layout()->controller,
                                            'action' => $this->layout()->action
                                )));
                            }
                            ?>

                            <?php echo $this->form()->openTag($form); ?>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('dataRecebimento')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('dataRecebimento')); ?>
                                            <?php echo $this->formElement($form->get('dataRecebimento')); ?>
                                            <?php echo $this->formElementErrors($form->get('dataRecebimento')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('responsavelEntrega')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('responsavelEntrega')); ?>
                                            <?php echo $this->formElement($form->get('responsavelEntrega')); ?>
                                            <?php echo $this->formElementErrors($form->get('responsavelEntrega')); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('cpfRg')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('cpfRg')); ?>
                                            <?php echo $this->formElement($form->get('cpfRg')); ?>
                                            <?php echo $this->formElementErrors($form->get('cpfRg')); ?>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6 col-red-text" >
                                        <?php echo $this->formElementErrors($form->get('hdnErrosRecebimento')); ?>
                                    </div>
                                    <table class="table table-bordered table-hover" id="tabela-produtos" style="width: 97%; margin: 0 auto;">
                                        <thead>
                                            <tr>
                                                <th width="30%">Produto</th>
                                                <th width="20%">Preço Unitário</th>
                                                <th width="20%">Qntd Pedida</th>
                                                <th width="20%">Qntd já recebida</th>
                                                <th width="10%">Recebido</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach ($this->itensPedido as $key => $item): ?>
                                                <tr>
                                                    <td><?php echo $item->getProduto()->getNome(); ?></td>
                                                    <td>R$ <?php echo number_format($item->getPrecoUnitario(), 2, ',', '.'); ?></td>
                                                    <td><?php echo $item->getQtd(); ?></td>
                                                    <td><?php echo $item->getQuantidadeRecebida(); ?></td>
                                                    <td>
                                                        <input type="text" name="qtdRecebida[]" value="<?php echo isset($this->qtdRecebida[$key]) ? $this->qtdRecebida[$key] : 0; ?>"  class="form-control default-touchspin"/>
                                                        <input type="hidden" name="itemRecebido[]" value="<?php echo $item->getId(); ?>"  />
                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                                <br />

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group <?php if ($form->get('observacao')->getMessages()): ?> has-error <?php endif; ?>">
                                        <?php echo $this->formLabel($form->get('observacao')); ?>
                                        <?php echo $this->formElement($form->get('observacao')); ?>
                                        <?php echo $this->formElementErrors($form->get('observacao')); ?>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group <?php if ($form->get('numeroNota')->getMessages()): ?> has-error <?php endif; ?>">
                                        <?php echo $this->formLabel($form->get('numeroNota')); ?>
                                        <?php echo $this->formElement($form->get('numeroNota')); ?>
                                        <?php echo $this->formElementErrors($form->get('numeroNota')); ?>
                                    </div>
                                </div>
                                <div class="col-md-4 fileupload-buttonbar">
                                    <div class="form-group">

                                        <?php echo $this->formLabel($form->get('notaFiscal')); ?><br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn green btn-file">
                                                <span class="fileinput-new"> Informe a nota Fiscal </span>
                                                <span class="fileinput-exists"> Mudar </span>
                                                <?php echo $this->formFile($form->get('notaFiscal')); ?>
                                                <?php echo $this->formElement($form->get('hdnNotaFiscal')); ?>
                                                <input type="hidden" id="hdnNomeNota" name="hdnNomeNota" value="<?php echo isset($this->notaFiscal['name']) ? $this->notaFiscal['name'] : ''; ?>" />
                                            </span>
                                            <span class="fileinput-filename"> 
                                                <?php if (!is_null($this->notaFiscal) && $notaFiscal['error'] == 0): ?>
                                                    <?php echo $notaFiscal['name']; ?>
                                                <?php endif; ?>
                                            </span> &nbsp;
                                            <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                                            <?php echo $this->formElementErrors($form->get('notaFiscal')); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <?php echo $this->formElement($form->get('id')); ?>
                        <div class="form-actions left">
                            <button type="submit" class="btn blue btn-enviar" value="">Cadastrar</button>
                            <a class="btn btn-default default" role="button" href="<?php echo $this->url($this->MyRoute(), array('controller' => $this->layout()->controller)); ?>">Cancelar</a>
                        </div>

                        <?php echo $this->form()->closeTag(); ?>

                    </div>
                </div>
            </div>
             </div>
        </div>
    </div>
</div>
</div>
