<?php foreach ($recebimento as $recebimento) :
    

    switch ($recebimento->getSituacao()->getId()){
                
            case  5:
                $recebimento->getSituacao()->setNome("<span class='label label-sm label-situacao-cancelado'>".$recebimento->getSituacao()->getNome()."</span>");
                
                break;
            case  1:
                $recebimento->getSituacao()->setNome("<span class='label label-sm label-situacao-cadastrado'>".$recebimento->getSituacao()->getNome()."</span>" );
                break;
            case  2:  
               $recebimento->getSituacao()->setNome("<span class='label label-sm label-situacao-solicitado'>".$recebimento->getSituacao()->getNome()."</span>");
                break;
            case  4:
                $recebimento->getSituacao()->setNome("<span class='label label-sm label-situacao-concluido'>".$recebimento->getSituacao()->getNome()."</span>");
                break;
            case  3:
                $recebimento->getSituacao()->setNome("<span class='label label-sm label-situacao-pendente'>".$recebimento->getSituacao()->getNome()."</span>");
                break;
            
            }     
?>
<div class="tabbable-line boxless tabbable-reversed">
        <div class="">
            <div class="tab-pane active">
                <div class="portlet box default">
                    <div class="portlet-title">
                        <div class="caption">
                           
                            
                            Nº do Pedido <strong><?php echo $recebimento->getNumeroPedido(); ?> </strong><?php echo $recebimento->getSituacao()->getNome()?>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-2">
                               
                              
                                <div class="col-md-12">
                                    <div class="form-group">
                                        Nº do Empenho:<br/>
                                        <strong><?php echo $recebimento->getEmpenho()->getNumEmpenho(); ?></strong>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        Total Pedido:<br/>
                                        <strong><?php echo "R$ " . number_format($recebimento->getValorTotalPedido(), 2, ',', '.'); ?></strong>
                                    </div>
                                </div>
                          
                           
                                <div class="col-md-12">
                                    <div class="form-group">
                                       Total Recebido:<br/>
                                         <strong><?php echo "R$ " . number_format($recebimento->getValorTotalRecebido(), 2, ',', '.'); ?></strong>
                                    </div>
                                </div>
                                
                                
                         
                        </div>
                        <div class="col-md-10">
                                <div class="portlet-body">
                        <div class="panel-group accordion" id="accordion3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1"> Pedido X Recebido </a>
                                    </h4>
                                </div>
                                <div id="collapse_3_1" class="panel-collapse in">
                                    <div class="panel-body">
                                        <div class="table-scrollable">
                                        <table class="table table-bordered table-hover" id="tabela-produtos">
                                            <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th>Item</th>
                                                    <th>Preço Unitário</th>
                                                    <th>Qntd Solicitada</th>
                                                    <th>Qntd Recebida</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <?php 
                                                $solicitada = 0;
                                                $recebida=0;
                                                foreach ($recebimento->getItensPedido() as $item): 
                                                    $solicitada = $item->getQtd() + $solicitada;
                                                    $recebida =$item->getQuantidadeRecebida() + $recebida;
                                                    ?>
                                                    <tr>
                                                        <td>
                                                            <?php echo $item->getProduto()->getCodigo(); ?>
                                                        </td> 
                                                        <td>
                                                            <?php echo $item->getProduto()->getNome(); ?>
                                                        </td>
                                                        <td>
                                                            R$ <?php echo number_format($item->getPrecoUnitario(), 2, ',', '.'); ?>
                                                        </td>
                                                        <td>
                                                            <?php echo $item->getQtd(); ?>
                                                        </td>
                                                        <td>
                                                            <?php echo $item->getQuantidadeRecebida(); ?>
                                                        </td>

                                                    </tr>
                                                <?php endforeach; ?>
                                                    <tr><td></td><td></td><td></td><td>
                                                            <strong><?php echo $solicitada;?></strong>
                                                        </td>
                                                        <td>
                                                           <strong><?php echo $recebida;?></strong>
                                                        </td>

                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            
                            
                        </div>
                        </div>
                        
                    </div>
                  
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    </div>
<?php endforeach;?>
<div class="tabbable-line">
    <ul class="nav nav-tabs" >
        <li class="">
            <a aria-expanded="false" href="<?php echo $this->url('estoque/default', array('controller' => 'pedido', 'action' => 'formulario', 'id' => $this->pedido)); ?>">Pedido</a>
        </li>
        <li class="active">
            <a aria-expanded="false" href="<?php echo $this->url('estoque/default', array('controller' => 'recebimento', 'action' => 'index')); ?>">Recebimento</a>
        </li>
    </ul>
</div>

  
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="page-head">
   
    <div class="page-toolbar">
        <?php if ($this->Acl()->verifyPermission('recebimento', 'incluir') && $this->permissaoAcoes) : ?>
            <button id="sample_editable_1_new" class="btn sbold green" onclick="redirecionar('<?php echo $this->url('estoque/default', array('controller' => 'recebimento', 'action' => 'formulario')); ?>')"> Novo Recebimento
                <i class="fa fa-plus"></i>
            </button>
        <?php endif; ?>
    </div>

</div>
            <input type="hidden" id="atestado" value="<?php echo $this->recebimentoSalvo; ?>" />
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="recebimentos" style="width: 100%">
                    <thead>
                        <?php if ($this->Acl()->verifyPermission('recebimento', 'excluir') && $this->permissaoAcoes) : ?>
                            <tr>
                                <td colspan="5" style="border: none;">
                                    <div class="actions">

                                        <div class="btn-group" style="float: left; margin-left: 15px; ">
                                            <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <span class="hidden-sm hidden-xs">Ações&nbsp;</span>
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#modalDelete" role="button" data-toggle="modal"><i class="icon-trash"></i>Excluir</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="btn-recebimento-export-doc" role="button"><i class="glyphicon glyphicon-file"></i>Gerar Atestado</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        <?php endif; ?>
                        <tr>
                            <th width="5%"><input type="checkbox" class="group-checkable" /></th>
                            <th width="20%" align="center">Nº da Nota</th>
                            <th width="20%" align="center">Data do Recebimento</th>
                            <th width="30%" align="center">Usuário</th>
                            <th width="25%" align="center">Valor Total</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


