

<?php
if ($form->get('id')->getValue()) {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action,
        'id' => $form->get('id')->getValue()
    )));
} else {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action
    )));
}
?>
<div class="tab-content">
    <div class="tab-pane active">
        <div class="portlet box default">
            <div class="portlet-title">
                <div class="caption">
                    <i class="<?php print $form->getAttribute('icon'); ?>"></i><?php print $form->getLabel(); ?>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <?php echo $this->form()->openTag($form); ?>
                <div class="form-body">
                    <!--/row fornecedor-->
                    <div class="row">
                        <div class="col-md-4">
                             <div class="form-group <?php if ($form->get('fornecedor')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('fornecedor')); ?>
                                            <?php echo $this->formElement($form->get('fornecedor')); ?>
                                            <?php echo $this->formElementErrors($form->get('fornecedor')); ?>
                                        </div>
                        </div>
                        <!--/row numero contrato-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <div
                                    class="form-group <?php if ($form->get('numContrato')->getMessages()): ?> has-error <?php endif; ?>">
                                    <?php echo $this->formLabel($form->get('numContrato')); ?>
                                    <?php echo $this->formElement($form->get('numContrato')); ?>
                                    <?php echo $this->formElementErrors($form->get('numContrato')); ?>
                                    <?php echo $this->formElement($form->get('hiddenNumContrato')); ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div
                                    class="form-group <?php if ($form->get('numProcessoLicitatorio')->getMessages()): ?> has-error <?php endif; ?>">
                                    <?php echo $this->formLabel($form->get('numProcessoLicitatorio')); ?>
                                    <?php echo $this->formElement($form->get('numProcessoLicitatorio')); ?>
                                    <?php echo $this->formElementErrors($form->get('numProcessoLicitatorio')); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row valor do contrato-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div
                                    class="form-group <?php if ($form->get('valor')->getMessages()): ?> has-error <?php endif; ?>">
                                    <?php echo $this->formLabel($form->get('valor')); ?>
                                    <?php echo $this->formElement($form->get('valor')); ?>
                                    <?php echo $this->formElementErrors($form->get('valor')); ?>
                                </div>
                            </div>
                        </div>
                        <!--/row data vencimento-->
                        <div class="col-md-4">
                                        <div class="form-group <?php if ($form->get('dataVencimento')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('dataVencimento')); ?>
                                            <div class='input-group date'>
                                                <?php echo $this->formElement($form->get('dataVencimento')); ?>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        <?php echo $this->formElementErrors($form->get('dataVencimento')); ?>
                                        <?php echo $this->formElement($form->get('hiddenDataVencimento')); ?>
                                        </div>
                                    </div>
                        
                        <!--/row status-->
                        <div class="row">
                            <div class="col-md-4">
                                <div
                                    class="form-group <?php if ($form->get('ativo')->getMessages()): ?> has-error <?php endif; ?>">
                                    <?php echo $this->formLabel($form->get('ativo')); ?>
                                    <br/>
                                    <?php echo $this->formElement($form->get('ativo')); ?>
                                    <?php echo $this->formElementErrors($form->get('ativo')); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row EMPENHO-->
                    <h4 class="form-section">Empenho</h4>
                    <div
                        class="<?php if ($form->get('hiddenErroListaEmpenho')->getMessages()): ?> has-error <?php endif; ?>">
                        <?php echo $this->formElementErrors($form->get('hiddenErroListaEmpenho')); ?>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="pull-right" id="valorTotalContrato" name="valorTotalContrato">Valor do Contrato:R$ 0,00</label>
                                <?php echo $this->formElement($form->get('hiddenValorContrato')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="pull-right" id="valorDisponivelContrato" name="valorDisponivelContrato">Disponível p/ Empenho:R$ 0,00</label>
                                <?php echo $this->formElement($form->get('hiddenValorDisponivel')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div
                            <?php echo $this->formLabel($form->get('numEmpenho')); ?>
                            <?php echo $this->formElement($form->get('numEmpenho')); ?>
                            <?php echo $this->formElementErrors($form->get('numEmpenho')); ?>
                        </div>
                        <div
                            class="form-group <?php if ($form->get('valorEmpenho')->getMessages()): ?> has-error <?php endif; ?>">
                            <?php echo $this->formLabel($form->get('valorEmpenho')); ?>
                            <?php echo $this->formElement($form->get('valorEmpenho')); ?>
                            <?php echo $this->formElementErrors($form->get('valorEmpenho')); ?>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 15px;">
                        <div
                            class="form-group <?php if ($form->get('provisorio')->getMessages()): ?> has-error <?php endif; ?>">
                            <?php echo $this->formElement($form->get('provisorio')); ?>
                            <?php echo $this->formLabel($form->get('provisorio')); ?>
                            <?php echo $this->formElementErrors($form->get('provisorio')); ?>
                        </div>
                        <div class="form-group <?php if ($form->get('dataEmpenho')->getMessages()): ?> has-error <?php endif; ?>">
                                            <?php echo $this->formLabel($form->get('dataEmpenho')); ?>
                                            <div class='input-group date'>
                                                <?php echo $this->formElement($form->get('dataEmpenho')); ?>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                    
                                        <?php echo $this->formElement($form->get('hiddenDataEmpenho')); ?>
                                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div
                            class="form-group <?php if ($form->get('observacao')->getMessages()): ?> has-error <?php endif; ?>">
                            <?php echo $this->formLabel($form->get('observacao')); ?>
                            <?php echo $this->formElement($form->get('observacao')); ?>
                            <?php echo $this->formElementErrors($form->get('observacao')); ?>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 70px;">
                        <div class="form-group text-center">
                            <a id="btnIncluirEmpenho" name="btnIncluirEmpenho" class="btn btn-default green"
                               onclick="incluirEmpenho()">
                                <i class="glyphicon glyphicon-plus"></i>Adicionar
                            </a>
                        </div>
                    </div>
                </div>
                <!--Data table de empenhos-->
                <div class="row">
                    <div class="col-md-12">

                        <table class=" table table-striped table-bordered table-hover display"
                               id="listaEmpenhoContrato" name="listaEmpenhoContrato">
                            <thead>
                            <th class="text-center" width="30%">
                                Nº Empenho
                            </th>
                            <th class="text-center" width="20%">
                                Data
                            </th>
                            <th class="text-right" width="35%">
                                Valor
                            </th>
                            <th class="text-center" width="15%">
                                Acao
                            </th>
                            </thead>
                            <tfoot>
                            <?php echo $this->formElement($form->get('hiddenValorTotalEmpenhado')); ?>
                            <tr>
                                <th colspan="3" style="text-align:right">Total Empenhado R$:&nbsp;</th>
                                <th class="text-center" id="valorTotalEmpenhado" name="valorTotalEmpenhado">
                                    0,00
                                </th>
                            </tr>
                            </tfoot>
                            <?php if ($empenhos): ?>
                                <tbody>
                                <?php foreach ($empenhos as $key => $value):
                                    $oddEven = ($key % 2 == 0) ? "even" : "odd";
                                    ?>
                                    <tr id="linhaTable_<?= $key ?>" role="row" class="<?= $oddEven ?>">
                                        <td class="text-center">
                                            <?= $value['numEmpenho'] ?>
                                        </td>
                                        <td class="text-center">
                                            <?= $value['dataEmpenho'] ?>
                                        </td>
                                        <td class="text-right">
                                            R$:&nbsp;<?= $value['valorEmpenho'] ?>
                                        </td>
                                        <td class="text-center">
                                            <a id='acaoEditarEmpenho' name='acaoEditarEmpenho' class="glyphicon glyphicon-pencil"
                                               onclick="editarEmpenho(jQuery(this));"></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <?php if ($value['boolDeletavel']) : ?>
                                                <a id='acaoExcluirEmpenho' name='acaoExcluirEmpenho' class="glyphicon glyphicon-trash"
                                                   onclick="excluirEmpenho(jQuery(this));"></a>
                                            <?php else: ?>
                                                    <i data-toggle="tooltip" data-placement="top"
                                                       title="Empenho Vinculado com Pedido!"
                                                       class="glyphicon glyphicon-trash text-default">
                                                    </i>
                                            <?php endif; ?>
                                            <input type="hidden" name="empenho[]" value="<?= $value['empenho'] ?>"/>
                                            <input type="hidden" name="numEmpenhos[]" value="<?= $value['numEmpenho'] ?>"/>
                                            <input type="hidden" name="dataEmpenhos[]" value="<?= $value['dataEmpenho'] ?>"/>
                                            <input type="hidden" name="valorEmpenhos[]" value="<?= $value['hiddenValorEmpenho'] ?>"/>
                                            <input type="hidden" name="provisorios[]" value="<?php echo ($value['provisorios']=='true')?'true':'false'; ?>"/>
                                            <input type="hidden" name="observacoes[]" value="<?= $value['observacao'] ?>"/>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            <?php endif; ?>
                        </table>
                        <?php echo $this->formElement($form->get('idEmpenhosExcluidos')); ?>
                    </div>
                </div>
                <h6 class="form-section"></h6>
                <div class="form-actions text-center">
                    <?php echo $this->formElement($form->get('enviar')); ?>
                    <a class="btn btn-default default" role="button" href="/estoque/contrato">Cancelar</a>
                </div>
                <?php echo $this->form()->closeTag($form); ?>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>