<?php $container = $this->navigation()->breadcrumbs() ?>
<?php /* @var $container \Zend\View\Helper\Navigation\Breadcrumbs */ ?>
<?php $navigation = $container->getContainer() ?>
<?php /* @var $navigation \Zend\Navigation\Navigation */ ?>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="">Principal</a>
        <i class="fa fa-circle"></i>
    </li>
    <?php foreach ($this->pages as $page): ?>
        <?php if ($page->isActive()): ?>
            <li>
                <span class="active"><?php print $page->getLabel() ?></span>
            </li>
        <?php else: ?>
            <li>
                <?php if (!empty($page->getController() && !empty($page->getAction()))): ?>
                    <a href="<?php echo $this->url($page->getRoute(), array('controller' => $page->getController(), 'action' => $page->getAction())); ?>"><span><?php print $page->getLabel() ?></span></a>
                <?php else: ?>
                    <span><?php print $page->getLabel() ?></span>
                <?php endif; ?>
                <i class="fa fa-circle"></i>
            </li>
        <?php endif ?> 
    <?php endforeach ?>
</ul>