<div id="modalError" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Erro</h4>
            </div>
            <div class="modal-body">
                <p>Erro ao Realizar a Ação!</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn red">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="modalSuccess" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Ação Realizada com Sucesso</h4>
            </div>
            <div class="modal-body">
                <p>Ação Realizada com Sucesso!</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn blue">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmação de Exclusão</h4>
            </div>
            <div class="modal-body">
                <p>Confirma a Exclusão dos Registros Selecionados?</p>
            </div>
            <div class="modal-footer">
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button data-dismiss="modal" class="btn blue btnConfirmarDelete" onclick="excluir()">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div id="modalAtivar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmação de Ativação</h4>
            </div>
            <div class="modal-body">
                <p>Confirma a Ativação dos Registros Selecionados?</p>
            </div>
            <div class="modal-footer">
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button data-dismiss="modal" class="btn blue" onclick="mudarStatus(1)">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div id="modalDesativar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmação de Desativação</h4>
            </div>
            <div class="modal-body">
                <p>Confirma a Desativação dos Registros Selecionados?</p>
            </div>
            <div class="modal-footer">
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button data-dismiss="modal" class="btn blue" onclick="mudarStatus(0)">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div class="page-footer">
 <!--   <div class="page-footer-inner"> 2014 &copy; Metronic by keenthemes.
        <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
    </div>-->
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>