<?php
if ($form->get('id')->getValue()) {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
                'controller' => $this->layout()->controller,
                'action' => $this->layout()->action,
                'id' => $form->get('id')->getValue()
    )));
} else {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
                'controller' => $this->layout()->controller,
                'action' => $this->layout()->action
    )));
}
?>
<div class="tabbable-line boxless tabbable-reversed">
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="portlet box default">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="<?php print $form->getAttribute('icon'); ?>"></i><?php print $form->getLabel(); ?>
                    </div>
                </div>
                <div class="portlet-body form">

                    <?php echo $this->form()->openTag($form); ?>

                    <?php foreach ($form->getElements() as $key => $element): ?>              
                        <?php if (!preg_match('/(Submit|Hidden|Radio|Checkbox)$/', get_class($element))): ?>
                            <div class="form-body">
                                <div class="form-group <?php if ($element->getMessages()): ?> has-error <?php endif; ?>">
                                    <?php echo $this->formLabel($element); ?>
                                    <div class="col-md-4">
                                        <?php echo $this->formElement($element); ?>
                                        <?php echo $this->formElementErrors($element); ?>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>

                        <?php if (preg_match('/(Radio)$/', get_class($element))): ?>
                            <div class="form-body">
                                <div class="form-group <?php if ($element->getMessages()): ?> has-error <?php endif; ?>">
                                    <label class="col-md-3 control-label">
                                        <?php echo $element->getLabel(); ?>
                                    </label>    
                                    <div class="col-md-9">
                                        <div class="radio-list">
                                            <?php echo $this->formElement($element); ?>
                                        </div> <br/>   <br/> 
                                         <?php echo $this->formElementErrors($element); ?>
                                    </div>
                                    
                                </div>
                            </div>
                        <?php endif; ?>

                        <?php if (preg_match('/(Checkbox)$/', get_class($element))): ?>
                            <div class="form-body">
                                <div class="form-group <?php if ($element->getMessages()): ?> has-error <?php endif; ?>">
                                    <label class="col-md-3 control-label">
                                        <?php echo $element->getLabel(); ?>
                                    </label>    
                                    <div class="col-md-9">
                                        <div clas="checkbox-list">
                                            <?php echo $this->formElement($element); ?>
                                            <?php echo $this->formElementErrors($element); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                        <?php if (preg_match('/(Hidden)$/', get_class($element))): ?>
                            <?php echo $this->formElement($element); ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn blue">Salvar</button>
                                <a class="btn btn-default default" role="button" href="<?php echo $this->url($this->MyRoute(), array('controller' => $this->layout()->controller)); ?>">Cancelar</a>
                            </div>
                        </div>
                    </div>

                    <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
</div>