<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <?php print $this->render('layout/head.phtml'); ?>
    </head>
    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">

        <?php print $this->render('layout/top.phtml'); ?>
        <div class="clearfix"> </div>
        <div class="page-container">
             <?php print $this->render('layout/sidebar.phtml'); ?>
            <div class="page-content-wrapper">
                <div class="page-content">
                    <?php print $this->render('layout/flash-messenger.phtml'); ?>
                    <?php print $this->navigation('navigation')->breadcrumbs()->setPartial('layout/breadcrumbs'); ?>
                    <?php print $this->content; ?>
                </div>
            </div>
        </div>
        <?php print $this->render('layout/footer.phtml'); ?>
    </body>
</html>