<?php foreach ($this->container as $page): ?> 
    <li class="nav-item <?php print $page->getClass(); ?>">
        <?php foreach ($page->getPages() as $child): 
             $retorna = false;?> 
            <?php if ($this->Acl()->verifyPermission($child->getController(), $child->getAction())) : 
                $retorna = true;
                ?>
             <?php endif; ?> 
        <?php endforeach;?>
         <?php if ($retorna):?> 
        <a href="/home" class="nav-link nav-toggle">
            <i class="icon-user"></i>
            <span class="title"><?php print $page->getLabel(); ?></span>
            <span class="arrow"></span>
        </a>
          <?php endif; ?> 
        <?php if ($page->hasPages()): ?>
            <ul class="sub-menu">
                <?php foreach ($page->getPages() as $child): ?> 
                    <?php if ($this->Acl()->verifyPermission($child->getController(), $child->getAction())) : ?>
                        <li class="nav-item <?php print $child->getClass(); ?>">
                            <a href="<?php print $this->url($child->getRoute(), array('controller' => $child->getController(), 'action' => $child->getAction())); ?>" class="nav-link ">
                                <span class="title"><?php print $child->getLabel(); ?></span>
                            </a>
                        </li>
                    <?php endif; ?> 
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>  
    </li>
<?php endforeach; ?>

<?php /* if ($this->controller == 'Application\Controller\Usuario' || $this->controller == 'Application\Controller\Perfil'): ?> active open <?php endif; */ ?>