<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="heading">
                <h3 class="uppercase">OPÇÕES DO SISTEMA</h3>
            </li>
            <?php print $this->navigation('navigation')->menu()->setPartial('layout/navigation-menu');?>
        </ul>
    </div>
</div>