<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="/home">
                <img src="/assets/layouts/layout4/img/logo.png" alt="logo" class="logo-default" width="185px"/> </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN PAGE ACTIONS -->
        <!-- DOC: Remove "hide" class to enable the page header actions -->

        <!-- END PAGE ACTIONS -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN HEADER SEARCH BOX -->
            <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="separator hide"> </li>

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile"> <?php print $this->identity()['usuarioNome']; ?> </span>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                            <?php if(isset($this->identity()['avatar'])): ?>
                                <img alt="" class="img-circle" src="/upload/avatar/<?php echo $this->identity()['avatar'] ? $this->identity()['avatar'] : 'avatar.png'; ?>" /> </a>
                            <?php else: ?>
                                <img alt="" class="img-circle" src="/upload/avatar/avatar.png" /> </a>
                            <?php endif; ?>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="<?php print $this->url('home/default', array('controller' => 'perfil', 'action' => 'config')); ?>">
                                    <i class="icon-user"></i> Meu Perfil </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:redirecionar('<?php echo $this->url('home/default', array('controller' => 'index', 'action' => 'logout')); ?>')">
                                    <i class="icon-key"></i>Sair</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <li class="dropdown dropdown-extended quick-sidebar-toggler" onclick="redirecionar('<?php echo $this->url('home/default', array('controller' => 'index', 'action' => 'logout')); ?>')">
                        <span class="sr-only"></span>
                        <i class="icon-logout"></i>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>