<?php
if ($form->get('id')->getValue()) {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action,
        'id' => $form->get('id')->getValue()
    )));
} else {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action
    )));
}
?>
<div class="tab-content">
    <div class="tab-pane active">
        <div class="portlet box default">
            <div class="portlet-title">
                <div class="caption">
                    <i class="glyphicon glyphicon-file"></i><?php print $form->getLabel(); ?>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <?php echo $this->form()->openTag($form); ?>
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group <?php if ($form->get('operacao')->getMessages()): ?> has-error <?php endif; ?>">
                                <?php echo $this->formLabel($form->get('operacao')); ?>
                                <?php echo $this->formElement($form->get('operacao')); ?>
                                <?php echo $this->formElementErrors($form->get('operacao')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group <?php if ($form->get('tipoContratacao')->getMessages()): ?> has-error <?php endif; ?>">
                                <?php echo $this->formLabel($form->get('tipoContratacao')); ?>
                                <?php echo $this->formElement($form->get('tipoContratacao')); ?>
                                <?php echo $this->formElementErrors($form->get('tipoContratacao')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group <?php if ($form->get('destino')->getMessages()): ?> has-error <?php endif; ?>">
                                <?php echo $this->formLabel($form->get('destino')); ?>
                                <?php echo $this->formElement($form->get('destino')); ?>
                                <?php echo $this->formElementErrors($form->get('destino')); ?>
                            </div>
                        </div>
                    </div>
                </div>
                <?php echo $this->formElement($form->get('id')); ?>
                <div class="form-actions text-center">
                    <?php echo $this->formElement($form->get('enviar')); ?>
                    <a class="btn btn-default default" role="button" href="/agencia/contratacao">Cancelar</a>
                </div>
                <?php echo $this->form()->closeTag($form); ?>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>