
<div class="page-head">
    <div class="page-title">
        <h1>Contratação <small>lista de contratações</small></h1>
    </div>
    <div class="page-toolbar">
        <?php if ($this->Acl()->verifyPermission('contratacao', 'incluir')) : ?>
            <button id="sample_editable_1_new" class="btn sbold green" onclick="redirecionar('<?php echo $this->url('agencia/default', array('controller' => 'contratacao', 'action' => 'formulario')); ?>')"> Nova Contratação
                <i class="fa fa-plus"></i>
            </button>
        <?php endif; ?>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="contratacoes" style="width: 100%;border-collapse:collapse;border-bottom: none;">
                    <thead>
                        <tr>
                            <td colspan="5" style="border: none;">
                                <div class="actions">
                                                                       
                                            
                               <?php if ($this->Acl()->verifyPermission('contratacao', 'excluir') || $this->Acl()->verifyPermission('contratacao', 'mudarStatus')) : ?>
                                        <div class="btn-group" style="float: left; margin-left: 15px; ">
                                            <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <span class="hidden-sm hidden-xs">Ações&nbsp;</span>
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <?php if ($this->Acl()->verifyPermission('contratacao', 'excluir')): ?>
                                                    <li>
                                                        <a href="#modalDelete" role="button" data-toggle="modal"><i class="icon-trash"></i>Excluir</a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($this->Acl()->verifyPermission('contratacao', 'mudarStatus')): ?>
                                                    <li>
                                                        <a href="#modalAtivar" role="button" data-toggle="modal"><i class="icon-lock-open"></i>Ativar</a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($this->Acl()->verifyPermission('contratacao', 'mudarStatus')): ?>
                                                    <li>
                                                        <a href="#modalDesativar" role="button" data-toggle="modal"><i class="icon-lock"></i>Desativar</a>
                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        </div>
                                   
                                    <?php endif; ?>
                                  </div>
                                
                               <div style="float: left; margin-left: 15px; ">
                                        <?php
                                        $form = $this->formFilter;
                                        $form->prepare();
                                        echo $this->form()->openTag($form);
                                        echo $this->formElement($form->get('agencia'));
                                        echo $this->form()->closeTag();
                                        ?>
                               </div>
                                 
                               <div style="float: left; margin-left: 15px; ">
                                   <select name="filtroData" id="filtroData" class="form-control">
                                       <option value="dia">Dia</option>
                                       <option value="semana">Semana</option>
                                       <option value="mes">Mês</option>
                                       <option value="todos">Todos</option>
                                       
                                        </select>

                                       
                               </div>
                                <!--div style="float: left; margin-left: 15px; ">
                                    <input type="radio" name="filtroData" id="filtroData" value="dia" checked=""> Dia
                                    <input type="radio" name="filtroData" id="filtroData" value="semana" checked=""> Semana
                                    <input type="radio" name="filtroData" id="filtroData" value="mes" checked=""> Mês
                                    <input type="radio" name="filtroData" id="filtroData" value="todos" checked=""> Todos
                                </div-->
                            </td>
                            
                            
                        </tr>
                        <tr>
                            <th width="5%"><input type="checkbox" class="group-checkable" /></th>
                            <th width="10%">Nº Contratação</th>
                            <th width="15%">Contratante</th>
                            <th width="15%">Falecido</th>
                            <th width="5%">Data</th>
                            <th width="15%">Agência</th>
                            <th width="15%">Situação</th>
                            <th width="10%">Vendedor</th>
                            <th width="10%">Total</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="8" style="text-align:right;border-right: none;">Total:</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    
                </table>
            </div>
        </div>
        </div>
    </div>
</div>

 