<?php

if ($contratacao->id) {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action
       
    )));
    
    
   
} else {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action
    )));
}

?>
<style>
    .twitter-typeahead{
width:100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}
    </style>
   
       
      
    
<div class="row" >
    <div class="col-md-12">
        <div class="portlet">
        <?php print $this->render('agencia/abas/index'); ?>  
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="portlet-body form">
                                
                                <!-- BEGIN FORM-->
                                <?php echo $this->form()->openTag($form); ?>
                               
                              
                                <div class="form-body">
                                    <fieldset>
                                        <legend>Cadastro de Paciente</legend>
                                        <div class="row">
                                            
                                            
                                            <?php if($contratacao->tipoOperacao==2):?>
                                          <div class="col-md-12">
                                             <?php if ($form->get('pecasAnatomicas')) ?>
                                            <div class="form-group col-md-2 <?php if ($form->get('pecasAnatomicas')->getMessages()): ?> has-error <?php endif; ?>">
                                                <?php echo $this->formLabel($form->get('pecasAnatomicas')); ?>
                                            </div> 
                                            <div class="form-group col-md-4">
                                                <?php echo $this->formElement($form->get('pecasAnatomicas')); ?>
                                                <?php echo $this->formElementErrors($form->get('pecasAnatomicas')); ?>
                                              
                                            </div>  
                                             </div> 
                                            <?php endif;?>
                                             <div class="col-md-12"> 
                                                 <div class="mostra">
                                            <?php if ($form->get('nome')) ?>
                                            <div class="form-group col-md-2 <?php if ($form->get('nome')->getMessages()): ?> has-error <?php endif; ?>">
                                                <?php echo $this->formLabel($form->get('nome')); ?>
                                            </div> 
                                            <div class="form-group col-md-4">
                                                <?php echo $this->formElement($form->get('nome')); ?>
                                                <?php echo $this->formElementErrors($form->get('nome')); ?>
                                              
                                            </div>
                                              <?php if ($form->get('membroAmputado')) ?>
                                            <div class="form-group col-md-2 <?php if ($form->get('membroAmputado')->getMessages()): ?> has-error <?php endif; ?>">
                                                <?php echo $this->formLabel($form->get('membroAmputado')); ?>
                                            </div> 
                                            <div class="form-group col-md-4">
                                                <?php echo $this->formElement($form->get('membroAmputado')); ?>
                                                <?php echo $this->formElementErrors($form->get('membroAmputado')); ?>
                                              
                                            </div>
                                            
                                        </div>    
                                             </div>
                                        </div>
                                        <br>
                                    </fieldset>
                                 </div>
                                
                                <div class="form-actions text-center">
                                    <?php echo $this->formElement($form->get('enviar')); ?>
                                    <a class="btn btn-default default" role="button"
                                       href="/agencia/contratacao">Cancelar</a>
                                </div>
                                <?php echo $this->form()->closeTag($form); ?>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
