<div class="page-head">
    <div class="page-title">
        <h1>Cemitério/Crematório <small>lista de Cemitérios/Crematórios</small></h1>
    </div>
    <div class="page-toolbar">
        <?php if ($this->Acl()->verifyPermission('cemiterio', 'incluir')) : ?>
            <button id="sample_editable_1_new" class="btn sbold green" onclick="redirecionar('<?php echo $this->url('admin/default', array('controller' => 'cemiterio', 'action' => 'formulario')); ?>')"> Novo Cemitério
                <i class="fa fa-plus"></i>
            </button>
        <?php endif; ?>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                 <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="cemiterios" style="width: 100%">
                    <thead>
                        <tr>
                            <td colspan="4" style="border: none;">
                                <div class="actions">
                                    <?php if ($this->Acl()->verifyPermission('cemiterio', 'excluir') || $this->Acl()->verifyPermission('cemiterio', 'mudarStatus')) : ?>
                                        <div class="btn-group" style="float: left; margin-left: 15px; ">
                                            <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <span class="hidden-sm hidden-xs">Ações&nbsp;</span>
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <?php if ($this->Acl()->verifyPermission('cemiterio', 'excluir')): ?>
                                                    <li>
                                                        <a href="#modalDelete" role="button" data-toggle="modal"><i class="icon-trash"></i>Excluir</a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($this->Acl()->verifyPermission('cemiterio', 'mudarStatus')): ?>
                                                    <li>
                                                        <a href="#modalAtivar" role="button" data-toggle="modal"><i class="icon-lock-open"></i>Ativar</a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($this->Acl()->verifyPermission('cemiterio', 'mudarStatus')): ?>
                                                    <li>
                                                        <a href="#modalDesativar" role="button" data-toggle="modal"><i class="icon-lock"></i>Desativar</a>
                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        </div>
                                    <?php endif; ?>

                                    <div style="float: left; margin-left: 15px; ">
                                        <?php
                                        $form = $this->formFilter;
                                        $form->prepare();
                                        echo $this->form()->openTag($form);
                                        echo $this->formElement($form->get('status'));
                                        echo $this->form()->closeTag();
                                        ?>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="10%"><input type="checkbox" class="group-checkable" /></th>
                            <th width="50%">Nome</th>
                            <th width="20%">Tipo</th>
                            <th width="20%">Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>


