<div class="pageheader">
    <div class="pageicon"><span class="iconfa-user"></span></div>
    <div class="pagetitle">
        <h5>Alteração de senha</h5>
        <h1>Usuários</h1>
    </div>
</div>

<div class="maincontent">
    <div class="maincontentinner">
        <?php if(!empty($this->success)): ?>
            <div class="alert alert-block">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <h4><?php echo $this->success ? "Senha alterada com sucesso!" : "Erro ao alterar senha" ?></h4>
            </div>
        <?php endif; ?>
      
        <div class="widget">
            <h4 class="widgettitle">FORMULÁRIO DE ALTERAÇÃO DE SENHA</h4>
            <div class="widgetcontent">
                <?php
                $form = $this->form;
                $form->setAttribute('action', $this->url('home/default', array('controller' => 'usuario', 'action' => 'alterarSenha')));
                $form->prepare();
                $this->formElementErrors()->setMessageOpenFormat('<label class="error">')->setMessageSeparatorString('</label><label class="error">')->setMessageCloseString('</label>');
                ?>

                <!-- Abre a tag de formulário -->
                <?php echo $this->form()->openTag($form); ?>

                <p>
                    <?php echo $this->formLabel($form->get('senhaAntiga')); ?><span class="field"><?php echo $this->formInput($form->get('senhaAntiga')); ?><?php echo $this->formElementErrors($form->get('senhaAntiga')); ?></span>
                </p>

                <p>
                    <?php echo $this->formLabel($form->get('novaSenha')); ?><span class="field"><?php echo $this->formInput($form->get('novaSenha')); ?><?php echo $this->formElementErrors($form->get('novaSenha')); ?></span>
                </p>

                <p>
                    <?php echo $this->formLabel($form->get('confirmaSenha')); ?><span class="field"><?php echo $this->formInput($form->get('confirmaSenha')); ?><?php echo $this->formElementErrors($form->get('confirmaSenha')); ?></span>
                </p>

                <p>
                    <?php echo $this->formHidden($form->get('id')); ?>
                    <span class="field">
                        <?php echo $this->FormSubmit($form->get('enviar')); ?>
                    </span>
                </p>
                <!-- Fecha a tag de formulário-->
                <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>



