
<div class="row">
    <div class="col-md-2">
        <div class="inbox-sidebar">
            <a href="javascript:;" data-title="Compose" class="btn red compose-btn btn-block">
                <i class="fa fa-edit"></i> Compose </a>
            <ul class="inbox-nav">
                <li class="active">
                    <a href="javascript:;" data-type="inbox" data-title="Inbox"> Inbox
                        <span class="badge badge-success">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" data-type="important" data-title="Inbox"> Important </a>
                </li>
                <li>
                    <a href="javascript:;" data-type="sent" data-title="Sent"> Sent </a>
                </li>
                <li>
                    <a href="javascript:;" data-type="draft" data-title="Draft"> Draft
                        <span class="badge badge-danger">8</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:;" class="sbold uppercase" data-title="Trash"> Trash
                        <span class="badge badge-info">23</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" data-type="inbox" data-title="Promotions"> Promotions
                        <span class="badge badge-warning">2</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" data-type="inbox" data-title="News"> News </a>
                </li>
            </ul>
            <ul class="inbox-contacts">
                <li class="divider margin-bottom-30"></li>
                <li>
                    <a href="javascript:;">
                        <img class="contact-pic" src="../assets/pages/media/users/avatar4.jpg">
                        <span class="contact-name">Adam Stone</span>
                        <span class="contact-status bg-green"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img class="contact-pic" src="../assets/pages/media/users/avatar2.jpg">
                        <span class="contact-name">Lisa Wong</span>
                        <span class="contact-status bg-red"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img class="contact-pic" src="../assets/pages/media/users/avatar5.jpg">
                        <span class="contact-name">Nick Strong</span>
                        <span class="contact-status bg-green"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img class="contact-pic" src="../assets/pages/media/users/avatar6.jpg">
                        <span class="contact-name">Anna Bold</span>
                        <span class="contact-status bg-yellow"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img class="contact-pic" src="../assets/pages/media/users/avatar7.jpg">
                        <span class="contact-name">Richard Nilson</span>
                        <span class="contact-status bg-green"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div class="inbox-body">
            <div class="inbox-header">
                <h1 class="pull-left">Inbox</h1>
                <form class="form-inline pull-right" action="index.html">
                    <div class="input-group input-medium">
                        <input class="form-control" placeholder="Password" type="text">
                        <span class="input-group-btn">
                            <button type="submit" class="btn green">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div style="" class="inbox-content"><table class="table table-striped table-advance table-hover">
                    <thead>
                        <tr>
                            <th colspan="3">
                                <div class="checker"><span><input class="mail-checkbox mail-group-checkbox" type="checkbox"></span></div>
                                <div class="btn-group input-actions">
                                    <a class="btn btn-sm blue btn-outline dropdown-toggle sbold" href="javascript:;" data-toggle="dropdown"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-pencil"></i> Mark as Read </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-ban"></i> Spam </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-trash-o"></i> Delete </a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th class="pagination-control" colspan="3">
                                <span class="pagination-info"> 1-30 of 789 </span>
                                <a class="btn btn-sm blue btn-outline">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="btn btn-sm blue btn-outline">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="unread" data-messageid="1">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> Petronas IT </td>
                            <td class="view-message "> New server for datacenter needed </td>
                            <td class="view-message inbox-small-cells">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="view-message text-right"> 16:30 PM </td>
                        </tr>
                        <tr class="unread" data-messageid="2">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> Daniel Wong </td>
                            <td class="view-message"> Please help us on customization of new secure server </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 15 </td>
                        </tr>
                        <tr data-messageid="3">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> John Doe </td>
                            <td class="view-message"> Lorem ipsum dolor sit amet </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 15 </td>
                        </tr>
                        <tr data-messageid="4">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> Facebook </td>
                            <td class="view-message"> Dolor sit amet, consectetuer adipiscing </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 14 </td>
                        </tr>
                        <tr data-messageid="5">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star inbox-started"></i>
                            </td>
                            <td class="view-message hidden-xs"> John Doe </td>
                            <td class="view-message"> Lorem ipsum dolor sit amet </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 15 </td>
                        </tr>
                        <tr data-messageid="6">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star inbox-started"></i>
                            </td>
                            <td class="view-message hidden-xs"> Facebook </td>
                            <td class="view-message"> Dolor sit amet, consectetuer adipiscing </td>
                            <td class="view-message inbox-small-cells">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="view-message text-right"> March 14 </td>
                        </tr>
                        <tr data-messageid="7">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star inbox-started"></i>
                            </td>
                            <td class="view-message hidden-xs"> John Doe </td>
                            <td class="view-message"> Lorem ipsum dolor sit amet </td>
                            <td class="view-message inbox-small-cells">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="view-message text-right"> March 15 </td>
                        </tr>
                        <tr data-messageid="8">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> Facebook </td>
                            <td class="view-message view-message"> Dolor sit amet, consectetuer adipiscing </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 14 </td>
                        </tr>
                        <tr data-messageid="9">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> John Doe </td>
                            <td class="view-message view-message"> Lorem ipsum dolor sit amet </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 15 </td>
                        </tr>
                        <tr data-messageid="10">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> Facebook </td>
                            <td class="view-message view-message"> Dolor sit amet, consectetuer adipiscing </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 14 </td>
                        </tr>
                        <tr data-messageid="11">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star inbox-started"></i>
                            </td>
                            <td class="view-message hidden-xs"> John Doe </td>
                            <td class="view-message"> Lorem ipsum dolor sit amet </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 15 </td>
                        </tr>
                        <tr data-messageid="12">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star inbox-started"></i>
                            </td>
                            <td class="hidden-xs"> Facebook </td>
                            <td class="view-message"> Dolor sit amet, consectetuer adipiscing </td>
                            <td class="view-message inbox-small-cells">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="view-message text-right"> March 14 </td>
                        </tr>
                        <tr data-messageid="13">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> John Doe </td>
                            <td class="view-message"> Lorem ipsum dolor sit amet </td>
                            <td class="view-message inbox-small-cells">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="view-message text-right"> March 15 </td>
                        </tr>
                        <tr data-messageid="14">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="hidden-xs"> Facebook </td>
                            <td class="view-message view-message"> Dolor sit amet, consectetuer adipiscing </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 14 </td>
                        </tr>
                        <tr data-messageid="15">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> John Doe </td>
                            <td class="view-message"> Lorem ipsum dolor sit amet </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 15 </td>
                        </tr>
                        <tr data-messageid="16">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> Facebook </td>
                            <td class="view-message"> Dolor sit amet, consectetuer adipiscing </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 14 </td>
                        </tr>
                        <tr data-messageid="17">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star inbox-started"></i>
                            </td>
                            <td class="view-message hidden-xs"> John Doe </td>
                            <td class="view-message"> Lorem ipsum dolor sit amet </td>
                            <td class="view-message inbox-small-cells"> </td>
                            <td class="view-message text-right"> March 15 </td>
                        </tr>
                        <tr data-messageid="18">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> Facebook </td>
                            <td class="view-message view-message"> Dolor sit amet, consectetuer adipiscing </td>
                            <td class="view-message inbox-small-cells">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="view-message text-right"> March 14 </td>
                        </tr>
                        <tr data-messageid="19">
                            <td class="inbox-small-cells">
                                <div class="checker"><span><input class="mail-checkbox" type="checkbox"></span></div> </td>
                            <td class="inbox-small-cells">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="view-message hidden-xs"> John Doe </td>
                            <td class="view-message"> Lorem ipsum dolor sit amet </td>
                            <td class="view-message inbox-small-cells">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="view-message text-right"> March 15 </td>
                        </tr>
                    </tbody>
                </table></div>
        </div>
    </div>
</div>