<div class="page-head">
    <div class="page-title">
        <h1>Usuários <small>lista de Usuários</small></h1>
    </div>
    <div class="page-toolbar">
        <?php if ($this->Acl()->verifyPermission('usuario', 'incluir')) : ?>
            <button id="sample_editable_1_new" class="btn sbold green" onclick="redirecionar('<?php echo $this->url('home/default', array('controller' => 'usuario', 'action' => 'formulario')); ?>')"> Novo Usuário
                <i class="fa fa-plus"></i>
            </button>
        <?php endif; ?>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                 <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="usuarios" style="width: 100%">
                    <thead>
                        <tr>
                            <td colspan="4" style="border: none;">
                                <div class="actions">
                                    <?php if ($this->Acl()->verifyPermission('usuario', 'excluir') || $this->Acl()->verifyPermission('usuario', 'mudarStatus')) : ?>
                                        <div class="btn-group" style="float: left; margin-left: 15px; ">
                                            <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <span class="hidden-sm hidden-xs">Ações&nbsp;</span>
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <?php if ($this->Acl()->verifyPermission('usuario', 'excluir')): ?>
                                                    <li>
                                                        <a href="#modalDelete" role="button" data-toggle="modal"><i class="icon-trash"></i>Excluir</a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($this->Acl()->verifyPermission('usuario', 'mudarStatus')): ?>
                                                    <li>
                                                        <a href="#modalAtivar" role="button" data-toggle="modal"><i class="icon-lock-open"></i>Ativar</a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($this->Acl()->verifyPermission('usuario', 'mudarStatus')): ?>
                                                    <li>
                                                        <a href="#modalDesativar" role="button" data-toggle="modal"><i class="icon-lock"></i>Desativar</a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($this->Acl()->verifyPermission('usuario', 'gerarNovaSenha')): ?>
                                                    <li>
                                                        <a href="#modalGerarNovaSenha" role="button" data-toggle="modal"><i class="icon-key"></i>Gerar Nova Senha</a>
                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                    <div style="float: left; margin-left: 15px; ">
                                        <?php
                                        $form = $this->formFilter;
                                        $form->prepare();
                                        echo $this->form()->openTag($form);
                                        echo $this->formElement($form->get('perfil'));
                                        echo $this->form()->closeTag();
                                        ?>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="10%"><input type="checkbox" class="group-checkable" /></th>
                            <th width="30%">Nome do usuário</th>
                            <th width="25%">E-mail</th>
                            <th width="20%">Perfil</th>
                            <th width="15%">Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="modalGerarNovaSenha" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmação de Mudança de Senha</h4>
            </div>
            <div class="modal-body">
                <p>Confirma a Geração de uma Nova Senha para esse Usuário?</p>
            </div>
            <div class="modal-footer">
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button data-dismiss="modal" class="btn blue" onclick="mudarSenha()">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div id="modalSelecionados" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Gerar nova Senha</h4>
            </div>
            <div class="modal-body">
                <p>Apenas uma senha pode ser trocada por vez!</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn blue">Confirmar</button>
            </div>
        </div>
    </div>
</div>


