<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#confirmar').click(function () {

            jQuery.post(url + '/index/completarLoginColorbox', {agencia: jQuery('#agencia').val(),
                cemiterio: jQuery('#cemiterio').val(),
                estoque: jQuery('#estoque').val(),
                trafego: jQuery('#trafego').val(),
                tesouraria: jQuery('#tesouraria').val() }, function (data) {
                
                var success = true;
                var messages = data['messages'];
                
                jQuery('#filtro .help-block').remove();
                jQuery('#filtro .form-group').removeClass('has-error'); 
                
                jQuery.each(messages, function (i, val) {
                    success = false;
                    
                    jQuery.each(val, function (x, valor) {
                        jQuery('#'+i).parent().addClass('has-error'); 
                        jQuery('#'+i).parent().append("<span class='help-block'>"+valor+"</span>");
                    });
                });

                if(success){
                    location.href = url + '/home';
                }

            }, 'json');
        });

    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <div class="tab-pane active">
                                <div class="tab-pane">
                                    <?php print $this->form()->openTag($form); ?>
                                    <?php foreach ($form->getElements() as $element): ?>  
                                        <div class="form-group<?php if ($element->getMessages()): ?> has-error <?php endif; ?>">
                                            <label class="control-label"><?php echo $element->getLabel(); ?></label>
                                            <?php print $this->formElement($element->setAttribute('class', 'form-control')); ?>
                                            <?php print $this->formElementErrors($element); ?>
                                        </div>
                                    <?php endforeach; ?>
                                    <div class="margin-top-10">
                                        <button type="button" class="btn green" id="confirmar">Confirmar</button>
                                    </div>
                                    <?php echo $this->form()->closeTag(); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>