
<div class="page-head">
    <div class="page-title">
        <h1>Fornecedor <small>lista de fornecedores</small></h1>
    </div>
    <div class="page-toolbar">
        <?php if ($this->Acl()->verifyPermission('fornecedor', 'incluir')) : ?>
            <button id="sample_editable_1_new" class="btn sbold green" onclick="redirecionar('<?php echo $this->url('estoque/default', array('controller' => 'fornecedor', 'action' => 'formulario')); ?>')"> Novo Fornecedor
                <i class="fa fa-plus"></i>
            </button>
        <?php endif; ?>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="fornecedores" style="width: 100%">
                    <thead>
                        <tr>
                            <td colspan="5" style="border: none;">
                                <div class="actions">
                                                                       
                                            
                               <?php if ($this->Acl()->verifyPermission('fornecedor', 'excluir') || $this->Acl()->verifyPermission('fornecedor', 'mudarStatus')) : ?>
                                        <div class="btn-group" style="float: left; margin-left: 15px; ">
                                            <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <span class="hidden-sm hidden-xs">Ações&nbsp;</span>
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <?php if ($this->Acl()->verifyPermission('fornecedor', 'excluir')): ?>
                                                    <li>
                                                        <a href="#modalDelete" role="button" data-toggle="modal"><i class="icon-trash"></i>Excluir</a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($this->Acl()->verifyPermission('fornecedor', 'mudarStatus')): ?>
                                                    <li>
                                                        <a href="#modalAtivar" role="button" data-toggle="modal"><i class="icon-lock-open"></i>Ativar</a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if ($this->Acl()->verifyPermission('fornecedor', 'mudarStatus')): ?>
                                                    <li>
                                                        <a href="#modalDesativar" role="button" data-toggle="modal"><i class="icon-lock"></i>Desativar</a>
                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                            
                                            
                                            
                                            <!--ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#modalDelete" role="button" data-toggle="modal"><i class="icon-trash"></i>Excluir</a>
                                                </li>
                                            </ul-->
                                      
                                  
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="5%"><input type="checkbox" class="group-checkable" /></th>
                            <th width="35%">Nome do Fornecedor</th>
                            <th width="20%">CNPJ</th>
                            <th width="20%">Telefone</th>
                            <th width="10%">Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>
  

