<script type="text/javascript">
    function esqueciMinhaSenha() {
        bootbox.prompt({
            title: "Informe o seu usuário RF",
            inputType: 'text',
            callback: function (result) {
                jQuery.post(url + '/index/esqueciMinhaSenha', {"login": result}, function () {
                    jQuery('#login').prepend('<div class="alert alert-warning"><button class="close" data-close="alert"></button>Sua solicitação foi realizada com sucesso! Em breve a acessoria de informática estará lhe enviando uma nova senha de acesso. Obrigado!');
                }, 'json');
            },
            buttons: {
                confirm: {
                    label: 'Enviar',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Cancelar',
                    className: 'btn-danger'
                }
            }
        });

        return false;
    }
    
    jQuery(document).ready(function () {
        <?php if($this->trocaSenha): ?>
            jQuery.colorbox({width: "40%",  href: url + "/index/mudarSenhaColorbox"});
            
        <?php elseif($this->selecionaFiltro): ?>  
            jQuery.colorbox({width: "40%",  href: url + "/index/completarLoginColorbox"});
        <?php endif; ?>
    });

</script>
<!-- BEGIN LOGIN FORM -->
<?php
//Prepara o formulário
$form = $this->form;
$form->setAttribute('action', $this->url('home', array('controller' => 'index', 'action' => 'index')));
$form->prepare();
$this->formElementErrors()->setMessageOpenFormat('')->setMessageSeparatorString('')->setMessageCloseString('');
?>

<!-- Abre a tag do form -->
<?php echo $this->form()->openTag($form); ?>

<h3 class="form-title font-green">Login no Sistema</h3>

<?php if ($form->getMessages()): ?>
    <div class="alert alert-danger">
        <button class="close" data-close="alert"></button>
        <?php echo $this->formElementErrors($form->get('user')); ?>
        <?php echo $this->formElementErrors($form->get('password')); ?>
    </div>
<?php endif; ?>

<div class="form-group">
    <?php echo $this->formInput($form->get('user')); ?>
</div>
<div class="form-group">
    <?php echo $this->formInput($form->get('password')); ?>
</div>

<div class="form-actions">
    <button type="submit" class="btn green uppercase">Entrar</button>
    <!--a href="javascript:esqueciMinhaSenha();" class="forget-password">Esqueceu sua Senha?</a-->
    <a onclick="javascript:esqueciMinhaSenha();" class="forget-password">Esqueceu sua Senha?</a>
</div>

<!-- Fecha a tag do form -->
<?php echo $this->form()->closeTag(); ?>

