
<p>Prezados administradores do Hagape,</p>

<p>O <strong><?php echo $this->nome; ?></strong> solicitou a geração de uma senha de acesso ao sistema Hagape.</p>

<p>Para gerar uma nova senha, será necessário que você acesse a funcionalidade de Usuários no sistema, e execute a ação de "Gerar nova senha".</p>