<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#mudar-senha').click(function () {

            jQuery.post(url + '/index/mudarSenhaColorbox', {senhaAntiga: jQuery('#senhaAntiga').val(),
                novaSenha: jQuery('#novaSenha').val(),
                confirmaSenha: jQuery('#confirmaSenha').val()}, function (data) {
                
                var success = true;
                var messages = data['messages'];
                
                jQuery('#alterarSenha .help-block').remove();
                jQuery('#alterarSenha .form-group').removeClass('has-error'); 
                
                jQuery.each(messages, function (i, val) {
                    success = false;
                    
                    jQuery.each(val, function (x, valor) {
                        jQuery('#'+i).parent().addClass('has-error'); 
                        jQuery('#'+i).parent().append("<span class='help-block'>"+valor+"</span>");
                    });
                });

                if(success){
                    if(data['possuiFiltros']){
                        jQuery.colorbox({width: "40%",  href: url + "/index/completarLoginColorbox"});
                    }else{
                        location.href = url + '/home';
                    }
                    
                }

            }, 'json');
        });

    });
</script>
<style>
    #cboxLoadedContent{
        overflow-x:hidden!important; 
    }
  
    </style>
<div class="row">
    <div class="col-md-12">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <div class="tab-pane active">
                                <div class="tab-pane">
                                    <?php print $this->form()->openTag($form); ?>
                                    <?php foreach ($form->getElements() as $element): ?>  
                                        <div class="form-group<?php if ($element->getMessages()): ?> has-error <?php endif; ?>">
                                            <label class="control-label"><?php echo $element->getLabel(); ?></label>
                                            <?php print $this->formElement($element->setAttribute('class', 'form-control')); ?>
                                            <?php print $this->formElementErrors($element); ?>
                                        </div>
                                    <?php endforeach; ?>
                                    <div class="margin-top-10">
                                        <button type="button" class="btn green" id="mudar-senha">Mudar Senha</button>
                                    </div>
                                    <?php echo $this->form()->closeTag(); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
