<?php

if ($contratacao->id) {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action
       
    )));
    
    
   
} else {
    $form->setAttribute('action', $this->url($this->MyRoute(), array(
        'controller' => $this->layout()->controller,
        'action' => $this->layout()->action
    )));
}

?>

   
       
      
    
<div class="row" >
    <div class="col-md-12">
        <div class="portlet">
        <?php print $this->render('agencia/abas/index'); ?>  
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <?php echo $this->form()->openTag($form); ?>
                                <div class="form-body">
                                    <fieldset>
                                        <legend>Dados Pessoais</legend>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('nome')) ?>

                                                <div class="col-md-5">
                                                    <div class="form-group <?php if ($form->get('nome')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('nome')); ?>
                                                        <?php echo $this->formElement($form->get('nome')); ?>
                                                        <?php echo $this->formElementErrors($form->get('nome')); ?>
                                                    </div>
                                                </div>
                                                <?php if ($form->get('grauParentesco')) ?>
                                                <div class="col-md-3">
                                                    <div class="form-group <?php if ($form->get('grauParentesco')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('grauParentesco')); ?>
                                                        <?php echo $this->formElement($form->get('grauParentesco')); ?>
                                                        <?php echo $this->formElementErrors($form->get('grauParentesco')); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('cpf')) ?>
                                                <div class="col-md-3">
                                                    <div class="form-group <?php if ($form->get('cpf')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('cpf')); ?>
                                                        <?php echo $this->formElement($form->get('cpf')); ?>
                                                        <?php echo $this->formElementErrors($form->get('cpf')); ?>
                                                    </div>
                                                </div>
                                                <?php if ($form->get('telefoneResidencial')) ?>
                                                <div class="col-md-2 col-md-offset-2">
                                                    <div class="form-group <?php if ($form->get('telefoneResidencial')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('telefoneResidencial')); ?>
                                                        <?php echo $this->formElement($form->get('telefoneResidencial')); ?>
                                                        <?php echo $this->formElementErrors($form->get('telefoneResidencial')); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('rg')) ?>
                                                <div class="col-md-3">
                                                    <div class="form-group <?php if ($form->get('rg')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('rg')); ?>
                                                        <?php echo $this->formElement($form->get('rg')); ?>
                                                        <?php echo $this->formElementErrors($form->get('rg')); ?>
                                                    </div>
                                                </div>

                                                <?php if ($form->get('telefoneCelular')) ?>
                                                <div class="col-md-2 col-md-offset-2">
                                                    <div class="form-group <?php if ($form->get('telefoneCelular')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('telefoneCelular')); ?>
                                                        <?php echo $this->formElement($form->get('telefoneCelular')); ?>
                                                        <?php echo $this->formElementErrors($form->get('telefoneCelular')); ?>
                                                    </div>
                                                </div>
                                                <?php if ($form->get('email')) ?>
                                                <div class="col-md-4">
                                                    <div class="form-group <?php if ($form->get('email')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('email')); ?>
                                                        <?php echo $this->formElement($form->get('email')); ?>
                                                        <?php echo $this->formElementErrors($form->get('email')); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('profissao')) ?>
                                                <div class="col-md-4">
                                                    <div class="form-group <?php if ($form->get('profissao')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('profissao')); ?>
                                                        <?php echo $this->formElement($form->get('profissao')); ?>
                                                        <?php echo $this->formElementErrors($form->get('profissao')); ?>
                                                    </div>
                                                </div>
                                                <?php if ($form->get('nomeMae')) ?>
                                                <div class="col-md-4 col-md-offset-1">
                                                    <div class="form-group <?php if ($form->get('nomeMae')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('nomeMae')); ?>
                                                        <?php echo $this->formElement($form->get('nomeMae')); ?>
                                                        <?php echo $this->formElementErrors($form->get('nomeMae')); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    </br>
                                    <fieldset>
                                        <legend>Localização</legend>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('endereco')) ?>
                                                <div class="col-md-5">
                                                    <div class="form-group <?php if ($form->get('endereco')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('endereco')); ?>
                                                        <?php echo $this->formElement($form->get('endereco')); ?>
                                                        <?php echo $this->formElementErrors($form->get('endereco')); ?>
                                                    </div>
                                                </div>
                                                <?php if ($form->get('bairro')) ?>
                                                <div class="col-md-3">
                                                    <div class="form-group <?php if ($form->get('bairro')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('bairro')); ?>
                                                        <?php echo $this->formElement($form->get('bairro')); ?>
                                                        <?php echo $this->formElementErrors($form->get('bairro')); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('numero')) ?>
                                                <div class="col-md-2">
                                                    <div class="form-group <?php if ($form->get('numero')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('numero')); ?>
                                                        <?php echo $this->formElement($form->get('numero')); ?>
                                                        <?php echo $this->formElementErrors($form->get('numero')); ?>
                                                    </div>
                                                </div>
                                                <?php if ($form->get('estado')) ?>
                                                <div class="col-md-4 col-md-offset-3">
                                                    <div class="form-group <?php if ($form->get('estado')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('estado')); ?>
                                                        <?php echo $this->formElement($form->get('estado')); ?>
                                                        <?php echo $this->formElementErrors($form->get('estado')); ?>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('complemento')) ?>
                                                <div class="col-md-3">
                                                    <div class="form-group <?php if ($form->get('complemento')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('complemento')); ?>
                                                        <?php echo $this->formElement($form->get('complemento')); ?>
                                                        <?php echo $this->formElementErrors($form->get('complemento')); ?>
                                                    </div>
                                                </div>
                                                <?php if ($form->get('cidade')) ?>
                                                <div class="col-md-4 col-md-offset-2">
                                                    <div class="form-group <?php if ($form->get('cidade')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('cidade')); ?>
                                                        <?php echo $this->formElement($form->get('cidade')); ?>
                                                        <?php echo $this->formElementErrors($form->get('cidade')); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('cep')) ?>
                                                <div class="col-md-2">
                                                    <div class="form-group <?php if ($form->get('cep')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('cep')); ?>
                                                        <?php echo $this->formElement($form->get('cep')); ?>
                                                        <?php echo $this->formElementErrors($form->get('cep')); ?>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </fieldset>
                                    </br>
                                    <fieldset id="dadosEmpresa">
                                        <legend>Dados da Empresa</legend>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('empresa')) ?>
                                                <div class="col-md-5">
                                                    <div class="form-group <?php if ($form->get('empresa')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('empresa')); ?>
                                                        <?php echo $this->formElement($form->get('empresa')); ?>
                                                        <?php echo $this->formElementErrors($form->get('empresa')); ?>
                                                    </div>
                                                </div>
                                                <?php if ($form->get('placaVeiculo')) ?>
                                                <div class="col-md-3">
                                                    <div class="form-group <?php if ($form->get('placaVeiculo')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('placaVeiculo')); ?>
                                                        <?php echo $this->formElement($form->get('placaVeiculo')); ?>
                                                        <?php echo $this->formElementErrors($form->get('placaVeiculo')); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('cnpj')) ?>
                                                <div class="col-md-5">
                                                    <div class="form-group <?php if ($form->get('cnpj')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('cnpj')); ?>
                                                        <?php echo $this->formElement($form->get('cnpj')); ?>
                                                        <?php echo $this->formElementErrors($form->get('cnpj')); ?>
                                                    </div>
                                                </div>
                                                <?php if ($form->get('telefoneEmpresa')) ?>
                                                <div class="col-md-4">
                                                    <div class="form-group <?php if ($form->get('telefoneEmpresa')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('telefoneEmpresa')); ?>
                                                        <?php echo $this->formElement($form->get('telefoneEmpresa')); ?>
                                                        <?php echo $this->formElementErrors($form->get('telefoneEmpresa')); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php if ($form->get('nomeMotorista')) ?>
                                                <div class="col-md-5">
                                                    <div class="form-group <?php if ($form->get('nomeMotorista')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('nomeMotorista')); ?>
                                                        <?php echo $this->formElement($form->get('nomeMotorista')); ?>
                                                        <?php echo $this->formElementErrors($form->get('nomeMotorista')); ?>
                                                    </div>
                                                </div>
                                                <?php if ($form->get('rgMotorista')) ?>
                                                <div class="col-md-4">
                                                    <div class="form-group <?php if ($form->get('rgMotorista')->getMessages()): ?> has-error<?php endif; ?>">
                                                        <?php echo $this->formLabel($form->get('rgMotorista')); ?>
                                                        <?php echo $this->formElement($form->get('rgMotorista')); ?>
                                                        <?php echo $this->formElementErrors($form->get('rgMotorista')); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <?php echo $this->formElement($form->get('id')); ?>
                                    <div class="form-actions text-center">
                                        <?php echo $this->formElement($form->get('enviar')); ?>
                                        <a class="btn btn-default default" role="button"
                                           href="/agencia/contratacao">Cancelar</a>
                                    </div>
                                    <?php echo $this->form()->closeTag($form); ?>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
