<?php $this->headLink()->appendStylesheet($this->basePath() . '/assets/pages/css/profile.min.css'); ?>
<div class="row">
    <div class="col-md-12">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <?php print $this->render('application/perfil/config-toolbar'); ?>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <!-- Seta os atributos principais do form-->
                                    <?php
                                    $form = $this->form;

                                    $form->setAttribute('action', $this->url('home/default', array('controller' => 'perfil', 'action' => 'config-avatar')));
                                    $form->prepare();
                                    $this->formElementErrors()->setMessageOpenFormat('<span class="help-block">')->setMessageSeparatorString('</span><span class="help-block">')->setMessageCloseString('</span>');
                                    echo $this->form()->openTag($form);
                                    ?>
                                    <div class="form-group">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail" style="width: 100px; ">
                                                <img src="<?php echo "/upload/avatar/" . $this->avatar; ?>" alt="" /> </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                            <div>
                                                <span class="btn default btn-file">
                                                    <span class="fileinput-new"> Selecione a Imagem </span>
                                                    <span class="fileinput-exists"> Mudar </span>
                                                    <?php echo $this->formFile($form->get('avatar')); ?>
                                                </span>
                                            </div>
                                            <?php echo $this->formElementErrors($form->get('avatar')); ?>
                                        </div>
                                    </div>
                                    <div class="margin-top-10">
                                        <?php echo $this->formSubmit($form->get('enviar')); ?>
                                    </div>
                                    <?php echo $this->form()->closeTag(); ?>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
