<?php $this->headLink()->appendStylesheet($this->basePath() . '/assets/pages/css/profile.min.css'); ?>
<div class="row">
    <div class="col-md-12">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <?php print $this->render('application/perfil/config-toolbar'); ?>
                        <div class="portlet-body">
                            <div class="tab-pane active">
                                <div class="tab-pane">
                                    <?php print $this->form()->openTag($form); ?>
                                    <?php foreach ($form->getElements() as $element): ?>  
                                        <div class="form-group<?php if ($element->getMessages()): ?> has-error <?php endif; ?>">
                                            <label class="control-label"><?php echo $element->getLabel(); ?></label>
                                            <?php print $this->formElement($element->setAttribute('class', 'form-control')); ?>
                                            <?php print $this->formElementErrors($element); ?>
                                        </div>
                                    <?php endforeach; ?>
                                    <div class="margin-top-10">
                                        <button type="submit" class="btn green">Mudar senha</button>
                                    </div>
                                    <?php echo $this->form()->closeTag(); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
