<?php $this->headLink()->appendStylesheet($this->basePath() . '/assets/pages/css/profile.min.css'); ?>
<div class="row">
    <div class="col-md-12">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <?php print $this->render('application/perfil/config-toolbar'); ?>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">Nome do Usuário</label>
                                            <input placeholder="<?php echo $this->user->getNome(); ?>" class="form-control" type="text" disabled > 
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Perfil</label>
                                            <input placeholder="<?php echo $this->user->getPerfil()->getNome(); ?>" class="form-control" type="text" disabled > 
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">CPF</label>
                                            <input placeholder="<?php echo $this->user->getCpf(); ?>" class="form-control" type="text" disabled > 
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Telefone</label>
                                            <input placeholder="<?php echo $this->user->getTelefone(); ?>" class="form-control" type="text" disabled > 
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">E-mail</label>
                                            <input placeholder="<?php echo $this->user->getEmail(); ?>" class="form-control" type="text" disabled > 
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Usuário RF</label>
                                    <input placeholder="<?php echo $this->user->getLogin(); ?>" class="form-control" type="text" disabled > 
                                </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>