<div class="portlet-title tabbable-line">
    <div class="caption caption-md">
        <i class="icon-globe theme-font hide"></i>
        <span class="caption-subject font-blue-madison bold uppercase">CONFIGURAÇÕES DE USUÁRIO</span>
    </div>
    <ul class="nav nav-tabs">
        <?php foreach(array('config-info' => 'Informações Pessoais', 'config-avatar' => 'Mudar Imagem', 'config-password' => 'Trocar Senha') as $action => $label): ?>
            <?php if($action == $this->layout()->action): ?>
                <li class="active">
                    <a aria-expanded="true" href="#"><?php print $label; ?></a>
                </li>
            <?php else: ?>
                <li class="">
                    <a aria-expanded="false" href="<?php print $this->url('home/default', array('controller' => 'perfil', 'action' => $action)); ?>"><?php print $label; ?></a>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
</div>