<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_0">
                    <div class="portlet box default">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>Cadastro de Perfis 
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- Seta os atributos principais do form-->
                            <?php
                            $form = $this->form;

                            if ($form->get('id')->getValue()) {
                                $form->setAttribute('action', $this->url('home/default', array('controller' => 'perfil', 'action' => 'formulario', 'id' => $form->get('id')->getValue())));
                            } else {
                                $form->setAttribute('action', $this->url('home/default', array('controller' => 'perfil', 'action' => 'formulario')));
                            }
                            $form->prepare();
                            $this->formElementErrors()->setMessageOpenFormat('<span class="help-block">')->setMessageSeparatorString('</span><span class="help-block">')->setMessageCloseString('</span>');
                            ?>

                            <!-- Abre a tag de formulário -->
                            <?php echo $this->form()->openTag($form); ?>
                            <div class="form-body">
                                <div class="form-group <?php if ($form->get('nome')->getMessages()): ?> has-error <?php endif; ?>">
                                    <?php echo $this->formLabel($form->get('nome')); ?>
                                    <div class="col-md-4">
                                        <?php echo $this->formInput($form->get('nome')); ?>
                                        <?php echo $this->formElementErrors($form->get('nome')); ?>
                                    </div>
                                </div>
                            </div>

                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Privilégios</label>
                                    <div class="col-md-4">
                                        <input type="checkbox" name="check-all" id="check-all" /> <strong>Marcar Todos</strong><br />
                                        <?php echo $this->privilegios; ?>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <?php echo $this->formHidden($form->get('id')); ?>
                                        <?php echo $this->formSubmit($form->get('enviar')); ?>
                                        <button type="button" class="btn btn-default default" onclick="redirecionar('<?php echo $this->url('home/default', array('controller' => 'perfil')); ?>')">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                            <?php echo $this->form()->closeTag(); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
