<?php $this->headLink()->appendStylesheet($this->basePath() . '/assets/apps/css/inbox.min.css'); ?>

<div class="page-head">
    <div class="page-title">
        <h1>Perfis <small>lista de perfis</small></h1>
    </div>
    <div class="page-toolbar">
        <?php if ($this->Acl()->verifyPermission('perfil', 'incluir')) : ?>
            <button id="sample_editable_1_new" class="btn sbold green" onclick="redirecionar('<?php echo $this->url('home/default', array('controller' => 'perfil', 'action' => 'formulario')); ?>')"> Novo Perfil
                <i class="fa fa-plus"></i>
            </button>
        <?php endif; ?>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                 <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="perfis" style="width: 100%">
                    <thead>
                        <tr>
                            <td colspan="4" style="border: none;">
                                <div class="actions">
                                    <?php if ($this->Acl()->verifyPermission('perfil', 'excluir')) : ?>
                                        <div class="btn-group" style="float: left; margin-left: 15px; ">
                                            <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <span class="hidden-sm hidden-xs">Ações&nbsp;</span>
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#modalDelete" role="button" data-toggle="modal"><i class="icon-trash"></i>Excluir</a>
                                                </li>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th width="10%"><input type="checkbox" class="group-checkable" /></th>
                            <th width="90%" align="center">Nome do perfil</th>
                        </tr>
                    </thead>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

<?php //if ($this->Acl()->verifyPermission('perfil', 'incluir')) : ?>
      <!--  <a href="<?php //echo $this->url('home/default', array('controller' => 'perfil', 'action' => 'formulario'));          ?>" class="btn btn-large btn-success btn-incluir"  ><small>CADASTRAR PERFIL</small></a>
-->
<?php //endif; ?>

